<section class="about-page">
  {{>cover }}

  <div class="container">
    <div class="section-wrap">
      <h1 class="about-left-heading section-title">Xidmətlər</h1>
      <div class="about-wrap">
        <div class="about-left">
          <div class="left-paragraphs">
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.1s">Biz təhsil müəssisəsini və proqramı seçirik</p>
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.2s">Qəbul üçün hazırlıq</p>
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.3s">Sənədlər hazırlayır, təşkilati məsələləri həll edirik</p>
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.4s">Məktəblilərə nəzarət edirik</p>
          </div>
        </div>
        <div class="about-right">
          <p class="about-right-paragraph">Azərbaycanlı Tələbə Böyük Britaniya, ABŞ, Kanada, İsveçrə,  Avstraliya,
              Tayland və digər ölkələrdə universitetlər, kolleclər,
              məktəblər və dil mərkəzlərinin rəsmi nümayəndəsidir. 2001-ci
              ildən etibarən tələbələr, tələbələr və böyüklər dünya
              miqyasında təhsil müəssisələrinə qoşulurlar, xaricdə dil
              proqramlarına qoşulurlar, iş və ünsiyyət üçün xarici dil
              öyrənirlər.
            </p>
          <a href="#">Xidmətlər haqqında daha çox məlumat <img src="img/right-arrow.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>

  <div class="map-wrap">
    <div class="container">
      <h1 class="section-title">Xəritə</h1>
    </div>
    <div class="wow slideInLeft">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.41782076333!2d49.851908550640495!3d40.3774314792685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d077c61fef3%3A0xfa4594c97092ca01!2sAF+Business+House!5e0!3m2!1saz!2s!4v1533039294226"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>

  </div>

  <div class="container">
    <div class="section-wrap">
      <h1 class="about-left-heading section-title">Mütəxəssislər</h1>
      <div class="about-wrap">
        <div class="about-left">
          <div class="left-paragraphs">
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.1s">Farklı ölkələrin təhsil müəssisələri ilə işləyən böyük təcrübə</p>
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.2s">Profil təhsili (filologiya, pedaqogika)</p>
            <p class="about-left-paragraph wow fadeIn" data-wow-delay="0.3s">Xaricdə təcrübə</p>
          </div>
        </div>
        <div class="about-right">
          <p class="about-right-paragraph">Azərbaycan tələbəsinin əməkdaşları uzun illər təcrübəsi olan
            xaricdə təhsil alan mütəxəssislərdir. Ortaqlarımızla daimi
            ünsiyyət saxlayırıq və tədris müəssisələrinə akademik
            səviyyəni, vəziyyəti qiymətləndirmək və orada təhsil alan
            uşaqlarla ünsiyyət qurmaq üçün mütəmadi olaraq səfər
            edirik. Biz hər bir universitetimiz, məktəbimiz və ya dil
            mərkəzləri haqqında müasir və etibarlı məlumatları təqdim
            edirik.
            </p>
        </div>
      </div>
    </div>

    {{>contact-section }}
  </div>
</section>
