<section class="events">
	<div class="page-cover" style="background-image:url('img/cover.jpg')">
	  <div class="container">
	    <div class="cover-items">
	      <h1 class="page-title wow fadeInDown">Tedbirler</h1>
	      <ol class="breadcrumb wow fadeInUp">
	        <li class="breadcrumb-item"><a href="#">Home</a></li>
	        <li class="breadcrumb-item active" aria-current="page">Tedbirler</li>
	      </ol>
	      <p class="cover-info wow fadeIn"></p>
	    </div>
	  </div>
	</div>

  	{{!-- <div class="image-wrap">
  	<img src='img/news1.png'/>
  	</div> --}}
  	<div class="events-wrap">
  		<div class="container">
	  		<div class="events-top">
		  		<div class="events-top-left">
		  			<p>AUG</p>
		  			<p>7</p>
		  		</div>
		  		<div class="events-top-right">
		  			<p>Avropada Biznes uzre tehsil - EU Business School numayendesi ile
					gorus gunu!</p>
		  		</div>
	  		</div>
	  		<div class="events-middle">
		  		<div class="events-middle-left">
		  			<p>07 Avqust Bazar ertesi 12:00 - 16:00 arasinda</p>
	  				<p>Azure Biznes mərkəzi 20-ci mərtəbə ofis 135</p>
		  		</div>
	  			<div class="events-middle-right">
	  				<button class="btn btn-primary">Qeydiyyat</button>
	  			</div>
	  		</div>
	  		<div class="events-bottom">
	  			<p>Ispanya, Almaniya və ya İsveçrədə Biznes və əlaqəli ixtisaslar üzrə təhsil almaq istəyirsiz?<br>

				Biznes ixtisası üzrə ən yaxşı universitetlər sırasına daxil olmuş EU Business school rəsmi nümayəndəsi sizə ətraflı məlumatlar
				vermək üçün sizinlə görüşə gəlir.<br>

				Avqust ayının 7-si saat 12.00-16.00 arası Avropada biznes proqramı ilə maraqlanan hər bir potensial tələbə yaxınlaşa bilər.<br>

				Nümayəndə, Alisa Kotovanın universitet haqda təcrübəsi, qəbul qaydaları, son qeydiyyat tarixləri haqda məlumatları almaq
				üçün qeydiyyatdan keçməyi unutmayın.<br>

				Universitet haqda qısa məlumat<br>

				EU Business School - dünyanın ən aparıcı biznes məktəblərindən biridir.<br>

				EU Business school 50 beynəlxalq biznes məktəbləri siyahısına daxildir.<br>

				Universitetin filialları Avropa və Asiyanın bir çox ölkələrində yerləşir, əsas kampuslar isə İsveçrə, İspaniya və Almaniyada
				yerləşir.<br>

				Müxtəlif müəssələrə ziyarətlər təşkil olunur və tələbələr təcrübəni beynəlxalq şirkətlərdə qazanırlar.<br>

				Bakalvr üçün təhsil haqqı 12.000, magistratura üçün isə 14.000 EUR dan başlayır.<br>

				Görüş günü Azure Biznes mərkəzi 20-ci mərtəbə ofis 135 keçiriləcək<br>

				Suallarınız olarsa bizimlə əlaqə saxlayın<br>

				(+994 50) 291 79 00<br>

				nigar@azeristudent.az</p>
	  		</div>
  		</div>
  	</div>

  	<div class="events-map">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.41782076333!2d49.851908550640495!3d40.3774314792685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d077c61fef3%3A0xfa4594c97092ca01!2sAF+Business+House!5e0!3m2!1saz!2s!4v1533719495464" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  	</div>
  	{{>contact-section}}
</section>
