<div id="exhibition">
    <div class="container">
        {{!-- HEADER OF THE EXHIBITION --}}
        <div class="exhibition_header">
            <div class="imgHolder">
                <img src="img/building.png" alt="">
            </div>

            <div class="content">
                <h2>Lorem ipsum dolor sit</h2>

                <div class="d-flex">
                    <p class="address">54/2, Tebriz
                        Street, Az1098</p>
                    <span></span>
                    <p class="date">12 and 13 February 10: 00-17: 00</p>
                </div>
            </div>
        </div>

        {{!-- PARTICIPANT --}}
        <div class="participants">
            <div class="row">
                <div class="col-sm-7 col-md-8">
                    <h2>Participants of the exhibition
                        Education Abroad</h2>

                    <ul>
                        <li><a href="">Higher Education in Canada</a></li>
                        <li><a href="">Higher Education in Canada</a></li>
                        <li><a href="">Higher Education in Canada</a></li>
                        <li><a href="">Higher Education in Canada</a></li>
                        <li><a href="">Higher Education in Canada</a></li>
                        <li><a href="">Higher Education in Canada</a></li>
                        <li><a href="">Vacations for schoolchildren abroad and in Ukraine in the summer of 2019</a></li>
                        <li><a href="">Academic programs in Kiev and online training</a></li>

                    </ul>
                </div>
                <div class="col-sm-5 col-md-4">
                    <img src="img/exhibition.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>

        {{!-- HIGHER EDUCATION IN CANADA --}}
        <div class="high_edu_canada">
            <div class="title">
                <h2>HIGHER EDUCATION IN CANADA</h2>
                <hr>
            </div>

            <div class="accordion">
                <div class="acc_header active">
                    Ontario

                    <span></span>
                </div>
                <ul class="acc_body" style="display: block">
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Niagara-on-the-Lake and Weland</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                </ul>
            </div>

            <div class="accordion">
                <div class="acc_header">
                    British Columbia

                    <span></span>
                </div>
                <ul class="acc_body">
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Niagara-on-the-Lake and Weland</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                </ul>
            </div>

            <div class="accordion">
                <div class="acc_header">
                    Manitoba Province

                    <span></span>
                </div>
                <ul class="acc_body">
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Niagara-on-the-Lake and Weland</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                </ul>
            </div>

            <div class="accordion">
                <div class="acc_header">
                    Manitoba Province

                    <span></span>
                </div>
                <ul class="acc_body">
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Niagara-on-the-Lake and Weland</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                </ul>
            </div>

            <div class="accordion">
                <div class="acc_header">
                    Nova Scotia Province

                    <span></span>
                </div>
                <ul class="acc_body">
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Niagara-on-the-Lake and Weland</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Niagara College</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                    <li>
                        <p class="collage">Humber Institute of Technology and Advanced Learning</p>
                        <p class="city">Toronto</p>
                    </li>
                </ul>
            </div>

            <div class="text-center">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>

        {{!-- HIGHER EDUCATION IN USA --}}
        <div class="high_edu_usa_n_gb">
            <div class="title">
                <h2>HIGHER EDUCATION IN USA</h2>
                <hr>
            </div>

            <div class="usa_gb_edu_type">
                <h5>Kings education</h5>
                <h6>Preparation programs for entry into US rating universities, among which:</h6>

                <ul>
                    <li>College of William and Mary</li>
                    <li>Brandeis University</li>
                    <li>College of William and Mary</li>
                    <li>Boston University</li>
                    <li>College of William and Mary</li>
                    <li>College of William and Mary</li>
                    <li>College of William and Mary</li>
                    <li>University of California, Santa Barbara</li>
                    <li>College of William and Mary</li>
                    <li>New York University</li>
                    <li>New York University</li>
                    <li>New York University</li>
                    <li>Northeastern University</li>
                    <li>Northeastern University</li>
                    <li>Northeastern University</li>
                    <li>Northeastern University</li>
                </ul>
            </div>

            <div class="usa_gb_edu_type">
                <h5>Kaplan International Pathways</h5>
                <h6>Preparation programs for entering universities:</h6>

                <ul>
                    <li>Arizona State University</li>
                    <li>Arizona State University</li>
                    <li>Arizona State University</li>
                    <li>Arizona State University</li>
                </ul>
            </div>

            <div class="usa_gb_edu_type">
                <h5>STUDY GROUP</h5>
                <h6>University Entrance Exam Preparation Programs:</h6>

                <ul>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                </ul>
            </div>

            <div class="usa_gb_edu_type">
                <h5>Navitel</h5>
                <h6>Applications for admission to American universities:</h6>

                <ul>
                    <li>University of New Hampshire</li>
                    <li>University of New Hampshire</li>
                    <li>University of New Hampshire</li>
                    <li>University of New Hampshire</li>
                    <li>University of New Hampshire</li>
                </ul>
            </div>

            <div class="usa_gb_edu_type">
                <h5>Shorelight Education</h5>
                <h6>Applications for admission to American universities:</h6>

                <ul>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                    <li>The University of Illinois at Chicago</li>
                </ul>
            </div>

            <div class="text-center mt-50">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>

        {{!-- HIGHER EDUCATION IN GREAT BRITAIN --}}
        <div class="high_edu_usa_n_gb greatbritain">
            <div class="title">
                <h2>HIGHER EDUCATION IN GREAT BRITAIN</h2>
                <hr>
            </div>

            <div class="short_collage_gb">
                <h5>The University of Law</h5>
                <p>Higher education in the UK (London, Manchester, Chester, Leeds, Guilford,
                    Exeter, Chester, Bristol, Birmingham).</p>
            </div>

            <div class="usa_gb_edu_type">
                <h5>Kings education</h5>
                <h6>Preparation programs for entry into US rating universities, among which:</h6>

                <ul>
                    <li>College of William and Mary</li>
                    <li>Brandeis University</li>
                    <li>College of William and Mary</li>
                    <li>Boston University</li>
                    <li>College of William and Mary</li>
                    <li>College of William and Mary</li>
                    <li>College of William and Mary</li>
                    <li>University of California, Santa Barbara</li>
                    <li>College of William and Mary</li>
                    <li>New York University</li>
                    <li>New York University</li>
                    <li>New York University</li>
                    <li>Northeastern University</li>
                    <li>Northeastern University</li>
                    <li>Northeastern University</li>
                    <li>Northeastern University</li>
                </ul>
            </div>

            <div class="usa_gb_edu_type">
                <h5>Kaplan International Pathways</h5>
                <h6>Preparation programs for entering universities:</h6>

                <ul>
                    <li>Arizona State University</li>
                    <li>Arizona State University</li>
                    <li>Arizona State University</li>
                    <li>Arizona State University</li>
                </ul>
            </div>

            <div class="usa_gb_edu_type">
                <h5>STUDY GROUP</h5>
                <h6>University Entrance Exam Preparation Programs:</h6>

                <ul>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Texas A & M University Corpus Christi</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                    <li>Merrimack</li>
                </ul>
            </div>

            <div class="text-center mt-50">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>

        {{!-- HIGHER EDUCATION IN ENGLISH IN THE EUROPEAN UNION --}}
        <div class="high_edu_european_union">
            <div class="title">
                <h2>HIGHER EDUCATION IN ENGLISH IN THE EUROPEAN UNION</h2>
                <hr>
            </div>

            <div class="short_collage">
                <h5>Berlin School of Business and Innovation (BSBI)</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>GISMA Business School</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>IUBH University of Applied Sciences</h5>
                <p>Higher education in Germany and Ireland.</p>
            </div>

            <div class="short_collage">
                <h5>University of Applied Sciences</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>EU Business School </h5>
                <p>Higher education in Germany, Switzerland and Spain.</p>
            </div>

            <div class="short_collage">
                <h5>BHMS Business & Hotel Management School</h5>
                <p>Higher education in Switzerland.</p>
            </div>

            <div class="short_collage">
                <h5>City Unity Group - Alpine Center</h5>
                <p>Higher education in Switzerland.</p>
            </div>

            <div class="short_collage">
                <h5>Cambridge Education Group - Oncampus</h5>
                <p>Higher education in the Netherlands. Accession to
                    the University of Amsterdam and the Amsterdam
                    University of Applied Sciences.</p>
            </div>

            <div class="short_collage">
                <h5>NHL Stenden University of Applied Sciences</h5>
                <p>Higher education in the Netherlands.</p>
            </div>

            <div class="text-center mt-50">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>

        {{!-- LANGUAGE COURSES FOR THE BORDER --}}
        <div class="high_edu_european_union">
            <div class="title">
                <h2>LANGUAGE COURSES FOR THE BORDER</h2>
                <hr>
            </div>

            <div class="short_collage">
                <h5>Berlin School of Business and Innovation (BSBI)</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>GISMA Business School</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>IUBH University of Applied Sciences</h5>
                <p>Higher education in Germany and Ireland.</p>
            </div>

            <div class="short_collage">
                <h5>University of Applied Sciences</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>EU Business School </h5>
                <p>Higher education in Germany, Switzerland and Spain.</p>
            </div>

            <div class="short_collage">
                <h5>BHMS Business & Hotel Management School</h5>
                <p>Higher education in Switzerland.</p>
            </div>

            <div class="short_collage">
                <h5>City Unity Group - Alpine Center</h5>
                <p>Higher education in Switzerland.</p>
            </div>

            <div class="short_collage">
                <h5>Cambridge Education Group - Oncampus</h5>
                <p>Higher education in the Netherlands. Accession to
                    the University of Amsterdam and the Amsterdam
                    University of Applied Sciences.</p>
            </div>

            <div class="short_collage">
                <h5>NHL Stenden University of Applied Sciences</h5>
                <p>Higher education in the Netherlands.</p>
            </div>

            <div class="text-center mt-50">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>

        {{!-- CHANNELS FOR SCHOOL SCHOOLS IN 2019 --}}
        <div class="high_edu_european_union">
            <div class="title">
                <h2>CHANNELS FOR SCHOOL SCHOOLS IN 2019</h2>
                <hr>
            </div>

            <div class="short_collage">
                <h5>Berlin School of Business and Innovation (BSBI)</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>GISMA Business School</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>IUBH University of Applied Sciences</h5>
                <p>Higher education in Germany and Ireland.</p>
            </div>

            <div class="short_collage">
                <h5>University of Applied Sciences</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="text-center mt-50">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>

        {{!-- ACADEMIC PROGRAMS IN KYIV AND ONLINE-TEACHING --}}
        <div class="high_edu_european_union">
            <div class="title">
                <h2>ACADEMIC PROGRAMS IN KYIV AND ONLINE-TEACHING</h2>
                <hr>
            </div>

            <div class="short_collage">
                <h5>Berlin School of Business and Innovation (BSBI)</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>GISMA Business School</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="short_collage">
                <h5>IUBH University of Applied Sciences</h5>
                <p>Higher education in Germany and Ireland.</p>
            </div>

            <div class="short_collage">
                <h5>University of Applied Sciences</h5>
                <p>Higher education in Germany.</p>
            </div>

            <div class="text-center mt-50">
                <a href="" class="register_fingerprint">
                    <img src="img/fingerprint.svg" alt="">
                    REGISTER NOW
                </a>
            </div>
        </div>


    </div>

    <div class="contact-register">
        <div class="container">
            <form action="">
                <h5>Lorem ipsum dolor
                    sit amet</h5>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="Full name" required>
                    </div>

                    <div class="col-sm-6">
                        <input type="tel" placeholder="Phone number" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="email" placeholder="Email" required>
                    </div>
                    <div class="text-center">
                        <button>Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        {{>contact-section}}
    </div>
</div>