---
title: AzeriStudent - Home
description: This is the home page.
---

<section class="home">
  <div class="owl-carousel owl-theme slider wow fadeIn">
    {{#times 3}}
    <div class="slider-item" style='background-image: url("../img/slide1.png")'>
      <div class="gradient"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="slider-wrap">
              <h1 class="slider-title">
                Summer holidays with benefit!
              </h1>
              <p class="slider-content">Where to learn foreign languages ​​this summer</p>
              <div class="slider-btn-wrap">
                <button class="btn slider-btn">
                  Ətraflı
                  <img src="img/right-arrow.png" alt="">
                  <img class="arrow-white" src="img/right-arrow-white.png" alt="">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/times}}
  </div>

  <div class="about section wow fadeIn">
    <div class="container">
      <h1 class="section-title">Study abroad</br>with Azeri Student</h1>
      <div class="about-company-wrap">
        <div class="about-company-info">
          <p>Azeri Student is the official representative of more
              than 300 schools, universities and language centers
              around the world. We hold exhibitions of education
              abroad, meetings and presentations with the
              participation of the best educational institutions.
              Our experts accompany students from the first
              consultation before receiving a diploma: they help
              to choose a country and a program, to prepare for
              admission and study abroad, to issue documents and
               to adapt to life abroad.</p>
          <ul>
            <li>16 years of experience</li>
            <li>7000+ enrolled students</li>
            <li>7 offices in Russia, Ukraine and the Czech Republic</li>
          </ul>
        </div>
        <div class="about-company-services">
          <ul>
            <li class="wow fadeIn">
              <a href="">
                <span class="about-company-services-title">Language Programs</span>
                <span class="about-company-services-description">Schoolchildren, students and adults</span>
                <img src="img/right-arrow.png" alt="">
              </a>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.2s">
              <a href="">
                <span class="about-company-services-title">Secondary education</span>
                <span class="about-company-services-description">Pupils of middle and high school</span>
                <img src="img/right-arrow.png" alt="">
              </a>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.4s">
              <a href="">
                <span class="about-company-services-title">Higher education</span>
                <span class="about-company-services-description">Applicants, students and specialists</span>
                <img src="img/right-arrow.png" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-company--btn-wrap">
      <button class="btn about-company-btn">
        About company
        <img src="img/right-arrow.png" alt="">
        <img class="arrow-white" src="img/right-arrow-white.png" alt="">
      </button>
    </div>
  </div>
     <div class="insurance">
    <div class="container">
      <div class="card-flex">
        <div class="imgHolder">
          <img class="main_img" src="img/graduate.jpg">
          <div class="layout">
            <h5>Təhsiliniz yarıda qalmasın!</h5>
            <img src="img/pasha-logo.svg" class="pasha-logo">
          </div>
        </div>
        <div class="contentHolder">
          <h4>Davamlı təhsil sığortası</h4>

          <p>
            Övladınızın davamlı təhsilinin təminatı
            sizi qayğılandırırsa,
            <br>
            <br>
            <b>Bu sığorta məhsulu sizin üçündür!</b>
          </p>

          <div class="btnHolder">
            <a href="pasha-insurance.html">
              Ətraflı <img src="img/right-arrow-white.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog section wow fadeIn">
    <div class="container">
      <h1 class="section-title">560 training programs in 21 countries - choose what is right for you</h1>

      <div class="catalog-form-wrap">
        <div class="catalog-form-item">
          <div class="form-label">Training program</div>
          <div class="form-select">
            <select name="" id="">
              <option value="">Higher education</option>
            </select>
          </div>
        </div>
        <div class="catalog-form-item">
          <div class="form-label">A country</div>
          <div class="form-select">
            <select name="" id="">
              <option value="">All</option>
            </select>
          </div>
        </div>
        <div class="catalog-form-item">
          <div class="form-label">Language</div>
          <div class="form-select">
            <select name="" id="">
              <option value="">All</option>
            </select>
          </div>
        </div>
        <div class="catalog-form-item">
          <div class="form-label">Category</div>
          <div class="form-select">
            <select name="" id="">
              <option value="">All</option>
            </select>
          </div>
        </div>
        <div class="catalog-form-item">
          <button class="btn find-btn">To find <img src="img/right-arrow-white.png" alt=""></button>
        </div>
      </div>

      <div class="ask-link">
        If you have any questions, <a href="">ask them to our experts <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="services section">
    <div class="container">
      <h1 class="section-title">Our services</h1>
      <ul class="services-wrap">
        <li class="wow fadeIn">
          <div class="services-left">
            <h1>1. Counseling</h1>
          </div>
          <div class="services-right">
            <a href="">
              <img src="img/right-arrow.png" alt="">
              We will help you to choose the country, school and program
            </a>
            <p>Which country, school or university do you meet your goals? What are
              the career prospects for you? How much does it cost to study abroad?
              What do you need to do? Experienced specialists in education abroad
              will answer all your questions.</p>
          </div>
        </li>
        <li class="wow fadeIn">
          <div class="services-left">
            <h1>2. Preparation for training</h1>
          </div>
          <div class="services-right">
            <a href="">
              <img src="img/right-arrow.png" alt="">
              We will tighten the level of the language, we will
              prepare for academic subjects
            </a>
            <p>Our experts will save you the most time: prepare and translate documents,
              help write a motivation letter, issue a visa, organize a flight and transfer.</p>
          </div>
        </li class="wow fadeIn">
        <li>
          <div class="services-left">
            <h1>3. Execution of documents</h1>
          </div>
          <div class="services-right">
            <a href="">
              <img src="img/right-arrow.png" alt="">
              Quickly issue a visa and the documents required for enrollment
            </a>
            <p>Our experts will save you the most time: prepare and translate documents,
              help write a motivation letter, issue a visa, organize a flight and transfer.</p>
          </div>
        </li>
        <li class="wow fadeIn">
          <div class="services-left">
            <h1>4. Supervision</h1>
          </div>
          <div class="services-right">
            <a href="">
              <img src="img/right-arrow.png" alt="">
              We will maintain a constant connection between
              the parents and the school where the child is
              studying
            </a>
            <p>We take care of the well-being of children and the peace of the parents,
              therefore we take care of all household and financial issues, we inform the family about
              academic performance. Our specialists are always in touch with the personal curator of
              the child at school.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="events section wow fadeIn">
    <div class="container">
      <h1 class="section-title">Why choose study abroad</h1>
      <div class="owl-carousel owl-theme event-slider">
        <a href="" class="event-item">
          <h3 class="event-item-title">Where else can I enterin the summer of 2018</h3>
          <p class="event-item-content">Have prepared for you a list of
          educational institutions abroad who
          are still accepting applications this
          year</p>
          <img src="img/right-arrow.png" alt="">
        </a>
        <a href="" class="event-item">
          <h3 class="event-item-title">Meetings with the
          representative of the Swiss
          hospitality institutes in
          Moscow and St. Petersburg</h3>
          <p class="event-item-content">Have prepared for you a list of
          educational institutions abroad who
          are still accepting applications this
          year</p>
          <img src="img/right-arrow.png" alt="">
        </a>
        <a href="" class="event-item">
          <h3 class="event-item-title">Master nd MBA in
              Switzerland with 40%
              discount</h3>
          <p class="event-item-content">Have prepared for you
            a list of educational institutions
            abroad who are still accepting
            applications this year</p>
            <img src="img/right-arrow.png" alt="">
        </a>
        <a href="" class="event-item">
          <h3 class="event-item-title">Where else can I enterin the summer of 2018</h3>
          <p class="event-item-content">Have prepared for you a list of
          educational institutions abroad who
          are still accepting applications this
          year</p>
          <img src="img/right-arrow.png" alt="">
        </a>
      </div>
      <div class="news-btn-wrap">
        <button class="btn news-btn">More news <img src="img/right-arrow-white.png" alt=""></button>
      </div>
    </div>
  </div>

  <div class="news section wow fadeIn">
    <div class="container">
      <h1 class="section-title">Why choose study abroad</h1>
      <div class="news-content">
        <p>More than 50 thousand Russian students receive education abroad (according to UNESCO). This
        figure is growing every year, as studying abroad opens prospects for a brilliant career in any field of
        activity.</p>
        <p>Education in the United States , Britain , Canada and European countries is built on other principles.
        Abroad, students and students have more independence, responsibility, teamwork. The emphasis in
        education abroad is on developing leadership skills, critical thinking and social skills.</p>
        <p>Schoolchildren and students are available the most current subjects - from robotics to diplomacy.
        The learning process and the excellent infrastructure of foreign schools and universities allow you to
         try yourself in all kinds of professions and hobbies, engage in scientific research and participate in
        creative projects of international class. Educational institutions abroad have a broad partner network
        and, in addition to education, provide great opportunities for practice and internships.</p>
        <p>Students of foreign schools and universities receive a rich experience of intercultural communication.
        Study abroad allows you to expand the horizons, makes a person more open and flexible. The
        modern world quickly changes the rules of the game, and these qualities are necessary to feel
        comfortable and confident.</p>
      </div>
    </div>
  </div>

  <div class="reviews section">
    <div class="container">
      <div class="reviews-wrap">
        <div class="reviews-left">
          <h1 class="section-title">Reviews</h1>
        </div>
        <ul class="reviews-right">
          <li class="wow fadeIn"  data-wow-delay="0.3s">
            <a class="reviews-right-item" href="">
              <div class="review-item-avatar">
                <img class="img-responsive" src="img/review1.png" alt="">
              </div>
              <div class="review-item-info">
                <h1 class="name">Leyla Xanəhməd (İsveçrə)</h1>
                <div class="from">Les Roches International School of Hotel Management</div>
                <p>"I came immediately for the last year of the bachelor's degree and
                    am very pleased with how much I managed to learn in just 9
                    months. There was much more independence on the magistracy,
                    and it's great. "
                </p>
                <div class="continue">Continue <img src="img/right-arrow.png" alt=""></div>
              </div>
            </a>
          </li>
          <li class="wow fadeIn"  data-wow-delay="0.3s">
            <a class="reviews-right-item" href="">
              <div class="review-item-avatar">
                <img class="img-responsive" src="img/review2.png" alt="">
              </div>
              <div class="review-item-info">
                <h1 class="name">Anar İsmayılov ( Böyük Britaniya)</h1>
                <div class="from">Coventry University</div>
                <p>"I came immediately for the last year of the bachelor's degree and
                    am very pleased with how much I managed to learn in just 9
                    months. There was much more independence on the magistracy,
                    and it's great. "
                </p>
                <div class="continue">Continue <img src="img/right-arrow.png" alt=""></div>
              </div>
            </a>
          </li>
          <li class="wow fadeIn" data-wow-delay="0.3s">
            <a class="reviews-right-item" href="">
              <div class="review-item-avatar">
                <img class="img-responsive" src="img/review3.png" alt="">
              </div>
              <div class="review-item-info">
                <h1 class="name">Heydər Məmmədov (ABŞ)</h1>
                <div class="from">Northeastern University</div>
                <p>"I came immediately for the last year of the bachelor's degree and
                    am very pleased with how much I managed to learn in just 9
                    months. There was much more independence on the magistracy,
                    and it's great. "
                </p>
                <div class="continue">Continue <img src="img/right-arrow.png" alt=""></div>
              </div>
            </a>
          </li>
          <li>
            <div class="btn feedback-btn">All feedback <img src="img/right-arrow-white.png" alt=""></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{>contact-section}}
  
</section>
