<section class="innovation">
  {{>cover }}

  <div class="container">
  	<div class="innovation-section section-wrap">
	  <div class="innovation-left">
	  	<p>All articles</p>
		  <ul>
		  	<li><a href="#">United Kingdom <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">higher education <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">hospitality institutes <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">Canada <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">fashion and design <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">USA <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">language programs <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">history of students <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">Italy <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">holiday <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">secondary education <img src="img/right-arrow.png" alt=""></a></li>
		  	<li><a href="#">Switzerland <img src="img/right-arrow.png" alt=""></a></li>
		  </ul>
	  </div>
	  <div class="innovation-right">
    		<div class="innovation-wrap">
		      <div class="innovation-item wow fadeIn">
		        <div class="innovation-img" style="background-image:url('img/news1.png')"></div>
		        <div class="innovation-info">
		          <h2 class="title">Where else can I enter in the summer of 2018</h2>
		          <p class="content">
		            Have prepared for you a list of educational institutions abroad
		            who are still accepting applications this year.
		          </p>
		          <a class="details-link" href="">Learn more <img src="img/right-arrow.png" alt=""></a>
		        </div>
		      </div>
		      <div class="innovation-item wow fadeIn">
		        <div class="innovation-img" style="background-image:url('img/news2.png')"></div>
		        <div class="innovation-info">
		          <h2 class="title">Where else can I enter in the summer of 2018</h2>
		          <p class="content">
		            Have prepared for you a list of educational institutions abroad
		            who are still accepting applications this year.
		          </p>
		          <a class="details-link" href="">Learn more <img src="img/right-arrow.png" alt=""></a>
		        </div>
		      </div>
		      <div class="innovation-item wow fadeIn">
		        <div class="innovation-img" style="background-image:url('img/news3.png')"></div>
		        <div class="innovation-info">
		          <h2 class="title">Where else can I enter in the summer of 2018</h2>
		          <p class="content">
		            Have prepared for you a list of educational institutions abroad
		            who are still accepting applications this year.
		          </p>
		          <a class="details-link" href="">Learn more <img src="img/right-arrow.png" alt=""></a>
		        </div>
		      </div>
		    </div>
	  </div>

  	</div>

	 <div class="pagination-wrap">
		      <div class="pagination-nav">
		        <a href="#" class="back"><img src="img/left-arrow.png" alt="">back</a>
		        <a href="#" class="next">next<img src="img/right-arrow.png" alt=""></a>
		      </div>
		      <ul class="pagination">
		       <li class="active"><a href="#">1</a></li>
		       <li><a href="#">2</a></li>
		       <li><a href="#">3</a></li>
		       <li><a href="#">4</a></li>
		       <li><a href="#">5</a></li>
		      </ul>
	 </div>

	 <div class="container">
      <div class="contact section">
        <div class="container">
      <div class="contact-wrap">
        <div class="contact-left">
          <h1 class="section-title">Do with us!</h1>

          <div class="manager-avatar">
            <img class="img-responsive" src="img/manager.png" alt="">
          </div>
          <div class="manager-info">
            <div class="manager-name">Elena Blyman</div>
            <div class="manager-preview-text">Head of the Department of Education Abroad</div>
            <div class="manager-mail">e.bliman@iqconsultancy.ru</div>
          </div>
        </div>
        <div class="contact-right">
          <p class="contact-text">
            Leave a request or contact us by phone. IQ Consultancy experts will help
            you choose the right educational institution and program, issue documents and a visa,
            prepare for admission and training, and successfully enroll.
          </p>
          <form>
            <div class="row">
              <div class="col-xs-12 col-md-5 col-md-offset-1">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <input type="text" class="form-control" id="phone" placeholder="Phone">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="col-xs-12 col-md-5 col-md-offset-1">
                <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
                <button class="btn contact-btn">To get a consultation</button>
              </div>
              <div class="col-xs-12 col-md-11 col-md-offset-1">
                <div class="contact-link">By clicking on the button, you consent to the processing of your personal data. We guarantee <a href="">confidentiality .</a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
        </div>
      </div>
  </div>
  </div>


</section>
