<div class="program-page">
  {{>cover }}

  <div class="container">
    <div class="program-wrap section-wrap">
      <h1 class="program-title">Search <img src="img/right-arrow.png" alt=""><span>222</span> options</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <form action="">
            <div class="form-select">
              <select name="" id="">
                <option value="">A country</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Language</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">For whom</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Age</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Season</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Program</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Accommodation</option>
              </select>
            </div>
            <button class="btn find-btn">To find</button>
          </form>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <ul class="program-items">
            {{#times 3}}
            <li class="program-item wow fadeIn">
              <div class="program-item-img" style="background-image:url('img/news1.png')"></div>
              <div class="program-item-info">
                <h2 class="title">Istituto Marangoni Milano</h2>
                <ul class="item-detail">
                  <li>A country</li>
                  <li>İtaly</li>
                </ul>
                <ul class="item-detail">
                  <li>City</li>
                  <li>Milan</li>
                </ul>
                <ul class="item-detail">
                  <li>Language of instruction</li>
                  <li>English, Italian</li>
                </ul>
                <ul class="item-detail">
                  <li>A type</li>
                  <li>University</li>
                </ul>
                <a class="details-link" href="">Learn More <img src="img/right-arrow.png" alt=""></a>
              </div>
            </li>
            {{/times}}
          </ul>
          <div class="pagination-wrap">
            <div class="pagination-nav">
              <a href="#" class="back"><img src="img/left-arrow.png" alt="">back</a>
              <a href="#" class="next">next<img src="img/right-arrow.png" alt=""></a>
            </div>
            <ul class="pagination">
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">5</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="about-program">
      <div class="language-course">
        <h1>Courses of foreign languages ​​abroad</h1>
        <p>Language schools offer courses for different purposes: to obtain basic knowledge, to prepare for international
          examinations or to enter a foreign school and university, to master business vocabulary,
          to combine language learning with engaging in creativity, sports or recreation.</p>
        <p>Each course you can study in different formats: in small groups, individually or in the teacher's family.</p>
        <p>Also, the language courses can have different intensity: from 15 to 40 academic hours per week.</p>
        <h1>Accommodation</h1>
        <p>Language schools abroad offer several types of accommodation: in a residence, in a host family or in an apartment.
          Choose a residence to live closer to school and communicate more with classmates. Homestay - if you want to get
          acquainted with local life and traditions. And those who value comfort and independence will be accommodated in the
          apartments. Note that the last option is possible only if you are already 18 years old.</p>
        <h1>Cost of education</h1>
        <p>The cost of language courses abroad depends on many criteria: duration of the program, intensity, variety of
              extracurricular activities and excursions, type of residence, location of the school.
              For example, one - week <span>English courses abroad </span>will cost from $ 316. Be sure to pay attention to the
              list of services included in the price. Most often for insurance, transfer from the airport, air tickets and a visa you need to pay extra. Some schools do not include
              accommodation and meals.</p>
        <p>Learn foreign languages ​​in the best foreign language schools with IQ Consultancy.</p>

      </div>
    </div>

    {{>contact-section}}
  </div>
</div>
