<section class="news-detail-page">
  {{>cover }}
  <div class="container">
    <div class="news-detail-wrap wow fadeIn">
      <p>In connection with the closure of the British and US consulates in St. Petersburg, we received many questions from parents
          whose children are studying or planning to study in these countries. We answer the main ones.</p>
      <h1>Will my child receive a British or American visa?</h1>
      <p>As for the UK, the documents have been submitted through the visa center for the past 10 years. Closing of the consulate in
          St. Petersburg does not affect this process. American student visas are also issued in full-time order, but residents of St.
          Petersburg and Leningrad region need to come to Moscow for this. If you are planning a short-term summer program in the
          US, you should choose a language center that will send out an invitation for a student visa (for example, FLS or Converse).</p>
      <h1>Who will come to the rescue of my child in the event of an unforeseen situation,
          if the parents can not get a tourist visa?</h1>
      <p>We are fully responsible for our students until release. Each child throughout his stay in another country has an
          official guardian - a person who, in case of health problems or any other emergency situation, is with the ward around the
          clock. In addition, in the residences of foreign schools, along with children, caregivers live who monitor the safety and
          well-being of students on a daily basis. We declare with all responsibility that your child will in no case be left without
          attention and help.</p>
      <h1>Will the attitude to our children change?</h1>
      <p>IQ Consultancy and the educational institutions with which we cooperate for many years are beyond politics. Every day we
        receive messages from schools, universities and language centers, which talk about one thing: the most important is the
        future of children and the opportunities that we give them.</p>
      <h1>From the letters from educational institutions about the situation:</h1>
      {{#times 3}}
      <div class="with-bg">
        <p>"We are saddened by the current disagreement between the governments of our countries. The political consequences of
            recent events certainly worry us all, but we would like to assure you that this is a confrontation between politicians, not
            between people. In the coming months, we will continue to warmly welcome all Russian students to our educational centers. "</p>
        <div class="author">
          <h3>Matthew Hurd</h3>
          <h3>Oxford International Education Group</h3>
          <span>Read the letter in original</span>
        </div>
      </div>
      {{/times}}
    </div>
    <div class="contact section">
      <div class="container">
        <div class="contact-wrap">
          <div class="contact-left">
            <h1 class="section-title">Do with us!</h1>

            <div class="manager-avatar">
              <img class="img-responsive" src="img/manager.png" alt="">
            </div>
            <div class="manager-info">
              <div class="manager-name">Elena Blyman</div>
              <div class="manager-preview-text">Head of the Department of Education Abroad</div>
              <div class="manager-mail">e.bliman@iqconsultancy.ru</div>
            </div>
          </div>
          <div class="contact-right">
            <p class="contact-text">
              Leave a request or contact us by phone. IQ Consultancy experts will help
              you choose the right educational institution and program, issue documents and a visa,
              prepare for admission and training, and successfully enroll.
            </p>
            <form>
              <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                  <input type="text" class="form-control" id="phone" placeholder="Phone">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                  <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
                  <button class="btn contact-btn">To get a consultation</button>
                </div>
                <div class="col-xs-12 col-md-11 col-md-offset-1">
                  <div class="contact-link">By clicking on the button, you consent to the processing of your personal data. We guarantee <a href="">confidentiality .</a></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
