<section class="news-page">
    {{>cover }}

  <div class="container">
    <div class="news-wrap section-wrap">
      <div class="news-item wow fadeIn">
        <div class="news-img" style="background-image:url('img/news1.png')"></div>
        <div class="news-info">
          <h2 class="title">Where else can I enter in the summer of 2018</h2>
          <p class="content">
            Have prepared for you a list of educational institutions abroad
            who are still accepting applications this year.
          </p>
          <a class="details-link" href="">Details</a>
        </div>
      </div>
      <div class="news-item wow fadeIn">
        <div class="news-img" style="background-image:url('img/news2.png')"></div>
        <div class="news-info">
          <h2 class="title">Where else can I enter in the summer of 2018</h2>
          <p class="content">
            Have prepared for you a list of educational institutions abroad
            who are still accepting applications this year.
          </p>
          <a class="details-link" href="">Details</a>
        </div>
      </div>
      <div class="news-item wow fadeIn">
        <div class="news-img" style="background-image:url('img/news3.png')"></div>
        <div class="news-info">
          <h2 class="title">Where else can I enter in the summer of 2018</h2>
          <p class="content">
            Have prepared for you a list of educational institutions abroad
            who are still accepting applications this year.
          </p>
          <a class="details-link" href="">Details</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="pagination-wrap">
      <div class="pagination-nav">
        <a href="#" class="back"><img src="img/left-arrow.png" alt="">back</a>
        <a href="#" class="next">next<img src="img/right-arrow.png" alt=""></a>
      </div>
      <ul class="pagination">
       <li class="active"><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>
</section>
