<section id="pasha_pg">
    {{>cover }}

    <div class="pasha_pg_inner">
        <div class="container">
            <p>
                <b class="red-text">Davamlı Təhsil</b> tələbələrimiz üçün hazırladığımız xüsusi layihədir. Belə ki,
                ödənişli təhsil alan
                tələbənin valideynlərindən birinin istənilən səbəbdən ölüm və bədbəxt hadisə nəticəsində I qrup əlillik
                alması halları ilə qarşılaşdığı təqdirdə onun övladının təhsil müddətinin sonuna qədər ödəməli olduğu
                təhsil haqqının «PAŞA Həyat Sığorta» şirkəti tərəfindən ödənilməsini nəzərdə tutan sığorta məhsuludur.
            </p>

            <h3>
                İllik kiçik məbləğdə sığorta haqqı ödəməklə övladınızın təhsilinin yarıda qalmasına imkan verməyin!
            </h3>

            <div class="flex-row">
                <div class="col-sm-6">
                    <div class="videoHolder" data-url="https://www.youtube.com/watch?v=CzA0cRILNS8">
                        <img src="" class="main_img">
                    </div>
                </div>

                <div class="col-sm-6">
                    <p>Davamlı Təhsil məhsulunun üstünlükləri:</p>

                    <ul>
                        <li>Sığorta məbləği: Təhsil haqqının qalan hissəsi və müddətli həyat sığortası</li>

                        <li>Tələbə təhsili dayandırarsa: Təhsil mərkəzi istifadə olunmamış illərə görə təhsil haqqını
                            sizə geri qaytaracaq</li>

                        <li>Sığorta haqqını onlayn və partnyor bankların filiallarında ödəmək mümkündür</li>
                    </ul>

                    <p>Məhsulun şərtləri: </p>

                    <ul>
                        <li>Məhsul üzrə sığorta haqqı birdəfəlik və ya illik ödənilə bilər</li>

                        <li>Sığorta məbləği maksimum 100.000 AZN minimum 5.000 AZN təşkil edir</li>

                        <li>Sığorta məbləği birdəfəlik ödənilir</li>
                    </ul>
                </div>
            </div>
        </div>

        <article id="calculator">
            <div class="container">
                <h4>Kalkulyator</h4>
                <h6>Ödəyəcəyiniz məbləği özünüz hesablayın</h6>

                <form>
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-md-10">
                            <div class="row justify-content-between">
                                {{!-- LEFT --}}
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <article>
                                        <label >Təvəllüdünüz</label>
                                        <div class='inputHolder date'>
                                            <input type="text" id="birthday_input">
                                            <span class="iconHolder">
                                                <img src="img/calendar-icon.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Cinsiniz</label>
                                        <div class='inputHolder'>
                                            <select name="" id="">
                                                <option value="">Kişi</option>
                                                <option value="">Qadın</option>
                                            </select>
                                            <span class="iconHolder">
                                                <img src="img/down-arrow.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Boyunuz</label>
                                        <div class='inputHolder'>
                                            <input type="number" min="0">
                                            <span class="iconHolder">
                                                <span>cm</span>
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Çəkiniz</label>
                                        <div class='inputHolder'>
                                            <input type="number" min="0">
                                            <span class="iconHolder">
                                                <span>kq</span>
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Başlama tarixi</label>
                                        <div class='inputHolder date'>
                                            <input type="text" id="start_date_input">
                                            <span class="iconHolder">
                                                <img src="img/calendar-icon.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Bitmə tarixi</label>
                                        <div class='inputHolder date'>
                                            <input type="text" id="end_date_input">
                                            <span class="iconHolder">
                                                <img src="img/calendar-icon.svg">
                                            </span>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <article>
                                        <label >Ödəniş forması</label>
                                        <div class='inputHolder'>
                                            <select name="" id="">
                                                <option value="">Birdəfəlik</option>
                                                <option value="">Birdəfəlik</option>
                                            </select>
                                            <span class="iconHolder">
                                                <img src="img/down-arrow.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Müavinətin alınma forması</label>
                                        <div class='inputHolder'>
                                            <select name="" id="">
                                                <option value="">Birdəfəlik</option>
                                                <option value="">Birdəfəlik</option>
                                            </select>
                                            <span class="iconHolder">
                                                <img src="img/down-arrow.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Ümumi təhsil haqqınız</label>
                                        <div class='inputHolder'>
                                            <input type="number" class="full_input">
                                        </div>
                                    </article>

                                    <article>
                                        <label >Valyuta</label>
                                        <div class='inputHolder'>
                                            <select name="" id="">
                                                <option value="">AZN</option>
                                                <option value="">USD</option>
                                            </select>
                                            <span class="iconHolder">
                                                <img src="img/down-arrow.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <article>
                                        <label >Təminat</label>
                                        <div class='inputHolder'>
                                            <select name="" id="">
                                                <option value="">İstənilən səbəbdən ölüm</option>
                                                <option value="">İstənilən səbəbdən ölüm</option>
                                            </select>
                                            <span class="iconHolder">
                                                <img src="img/down-arrow.svg">
                                            </span>
                                        </div>
                                    </article>

                                    <div class="buttonHolder">
                                        <button type="submit">Hesabla</button>
                                    </div>
                                </div>
                            </div>

                            <p class="total">Ödəyəcəyiniz məbləğ - <strong>1803 <span class="azn">₼</span></strong></p>

                            <p class="w-md-65"><b>Qeyd:</b> Sığorta haqqı (Ödəyəcəyiniz vəsait) təxmini hesablanmış məbləğdir , tam ərizə formasını doldurduqdan sonra sizin üçün yekun sığorta haqqı hesablanacaq .</p>
                        </div>
                    </div>
                </form>
            </div>
        </article>

        <p class="short_info_text">Sizə uyğun sığorta məhsulu haqqında daha ətraflı məlumat almaq üçün (012) 942 nömrəsinə zəng vurun.</p>
    </div>

    {{>contact-section}}


    <article id="pasha_modal">
        <div class="layout"></div>

        <div class="iframeHolder">
            <iframe width="560" height="315" src="" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </article>
</section>