<section id="reserve">
    <div class="container">
        <div class="d-flex">
            <div class="row mainRow active">
                <div class="col-sm-5 col-md-4">
                    <h2 class="today">12 FEVRAL</h2>
                    <h6>Rezerv et</h6>

                    <ul id="time">
                        <li>
                            <span>11:00</span>
                            <button class="done"></button>
                        </li>

                        <li>
                            <span>12:00</span>
                            <button class="disabled">rezerv</button>
                        </li>

                        <li>
                            <span>13:00</span>
                            <button>rezerv</button>
                        </li>

                        <li>
                            <span>14:00</span>
                            <button>rezerv</button>
                        </li>

                        <li>
                            <span>15:00</span>
                            <button>rezerv</button>
                        </li>

                        <li>
                            <span>16:00</span>
                            <button>rezerv</button>
                        </li>

                        <li>
                            <span>17:00</span>
                            <button>rezerv</button>
                        </li>

                        <li>
                            <span>18:00</span>
                            <button>rezerv</button>
                        </li>

                        <li>
                            <span>19:00</span>
                            <button>rezerv</button>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div id="calendar"></div>
                </div>

                <a href="index.html" class="close_btn">
                    <img src="img/close.svg" alt="">
                </a>

                <div id="popup" class="register_popup">
                    <form action="">
                        <h6 class="title">
                            <span>1</span> Informasiya
                        </h6>

                        <p class="time">11 Fevral 2019 <span id="clock"></span></p>

                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Ad">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Soyad">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" placeholder="Telefon">
                            </div>
                        </div>

                        <h6 class="title">
                            <span>2</span> Rəy
                        </h6>

                        <textarea name="" id="" rows="10" placeholder="Rəy yaz"></textarea>

                        <div class="buttonHolder">
                            <small>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            </small>

                            <button type="submit">Rezerv</button>
                        </div>
                    </form>

                    <span id="close_popup" class="close_btn">
                        <img src="img/close.svg" alt="">

                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="popup" class="done_popup">
        <img src="img/done.svg" class="main_image" alt="">

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

        <a href="index.html">GERI DON</a>

        <a href="index.html" class="close_btn">
            <img src="img/close.svg" alt="">
        </a>
    </div>
</section>