<section class="reviews-page">
  <div class="page-cover">
    <div class="container">
      <div class="cover-items">
        <h1 class="page-title wow fadeInDown">Reviews</h1>
        <ol class="breadcrumb wow fadeInUp">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Reviews</a></li>
          <li class="breadcrumb-item active" aria-current="page">Leyla Xanəhməd</li>
        </ol>
        <p class="cover-info wow fadeIn"></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="review-detail-wrap section-wrap">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="review-img">
            <img class="img-responsive" src="img/student.jpg" alt="">
          </div>
          <h1>Leyla Xanəhməd (İsveçrə)</h1>
          <div class="from">Les Roches International School of Hotel Management</div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">
          <p>Azeristudent ilə tanışlığım həyatımdaki ən nəzərəçarpan addımlardan birini atmağıma yol açdı. Belə ki, Azeristudent mənim uşaqlıq arzumun həyata keçməsindəki ən böyük pay sahibi olaraq xaricdə təhsil almağıma ciddi təkan vermişdi. İlk dəfə Azeristudent şirkətinin ofisinə daxil olduğumda gördüyüm xoş və istiqanlı münasibət artıq məndə onlar haqqında ilk fikrimin formalaşmasında rol oynamışdı. Düzünü desəm, işlərimin bu qədər asanlaşacağını gözləmirdim. Hamının bildiyi kimi xaricdə təhsil almaq hər bir gəncin arzusudur, lakin buna nail olmağı hamı bacarmır. Bunun üçün ciddi addımlar atıb, dəqiq qərarlarla irəliləmək lazımdır. Elə məhz həm bu qərarların verilməsində ,həm də uğurlu addımların atılmasında Azeristudentin rolu əvəzolunmazdır. İlk dəfə ofis ziyarətimin sadəcə tanışlıqla bitəcəyini düşünmüşdüm , amma bu tanışlıq bütün lazımlı informasiyanı almağımla nəticələnmişdi. Geriyə sadəcə “tapşırıq”ları tamamlamaq qalmışdı. Bu tapşırıqların sonu isə uğurla nəticələndi. Azeristudentin köməkliyi nəticəsində həm ali məktəbə qəbul olunmağım, həm dövlət proqramına muraciətim, həm də vizanı almağım olduqca asanlaşmışdı. Hal-hazırda Les Roches İnternational School of Hotel Managementdə turizm təhslimi davam etdirirəm. Həyatımda atmış olduğum ən böyük uğurda əvəzolunmaz izlər qoyduqları üçün Azeristudent çalışanlarına öz dərin minnədarlığımı bildirirəm. Gələcəkdə xaricdə təhsil almağı düşünən potensial tələbələrə heç düşünmədən Azeristudenti məsləhət görərdim. Bu yolda atılan addımlar həm dövlətimiz, həm də millətimiz üçün bəhrəlin olacağından əminəm və bununla qürur duyuram.</p>
        </div>
      </div>
    </div>
  </div>
</section>
