<section class="reviews-page">
  <div class="page-cover">
    <div class="container">
      <div class="cover-items">
        <h1 class="page-title wow fadeInDown">About</h1>
        <ol class="breadcrumb wow fadeInUp">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
        <p class="cover-info wow fadeIn"></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="reviews-wrap section-wrap">
      <div class="reviews-left">
        <h2>All feedback</h2>
        <ul>
          <li><a href="#">Parents <img src="img/right-arrow.png" alt=""></a></li>
          <li><a href="#">Students <img src="img/right-arrow.png"</a></li>
        </ul>
      </div>
      <ul class="reviews-right">
        <li class="wow fadeIn">
          <a class="reviews-right-item" href="">
            <div class="review-item-avatar">
              <img class="img-responsive" src="img/review1.png" alt="">
            </div>
            <div class="review-item-info">
              <h1 class="name">Leyla Xanəhməd (İsveçrə)</h1>
              <div class="from">Les Roches International School of Hotel Management</div>
              <p>"I came immediately for the last year of the bachelor's degree and
                  am very pleased with how much I managed to learn in just 9
                  months. There was much more independence on the magistracy,
                  and it's great. "
              </p>
              <div class="continue">Continue <img src="img/right-arrow.png" alt=""></div>
            </div>
          </a>
        </li>
        <li class="wow fadeIn">
          <a class="reviews-right-item" href="">
            <div class="review-item-avatar">
              <img class="img-responsive" src="img/review2.png" alt="">
            </div>
            <div class="review-item-info">
              <h1 class="name">Anar İsmayılov ( Böyük Britaniya)</h1>
              <div class="from">Coventry University</div>
              <p>"I came immediately for the last year of the bachelor's degree and
                  am very pleased with how much I managed to learn in just 9
                  months. There was much more independence on the magistracy,
                  and it's great. "
              </p>
              <div class="continue">Continue <img src="img/right-arrow.png" alt=""></div>
            </div>
          </a>
        </li>
        <li class="wow fadeIn">
          <a class="reviews-right-item" href="">
            <div class="review-item-avatar">
              <img class="img-responsive" src="img/review3.png" alt="">
            </div>
            <div class="review-item-info">
              <h1 class="name">Heydər Məmmədov (ABŞ)</h1>
              <div class="from">Northeastern University</div>
              <p>"I came immediately for the last year of the bachelor's degree and
                  am very pleased with how much I managed to learn in just 9
                  months. There was much more independence on the magistracy,
                  and it's great. "
              </p>
              <div class="continue">Continue <img src="img/right-arrow.png" alt=""></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="pagination-wrap">
      <div class="pagination-nav">
        <a href="#" class="back"><img src="img/left-arrow.png" alt="">back</a>
        <a href="#" class="next">next<img src="img/right-arrow.png" alt=""></a>
      </div>
      <ul class="pagination">
       <li class="active"><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>
</section>
