<div class="program-page">
  {{>cover }}

  <div class="container">
    <div class="program-wrap section-wrap">
      <h1 class="program-title">Search <img src="img/right-arrow.png" alt=""><span>169</span> options</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <form action="">
            <div class="form-select">
              <select name="" id="">
                <option value="">A country</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Age</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Program</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Language of instruction</option>
              </select>
            </div>
            <div class="form-select">
              <select name="" id="">
                <option value="">Type of school</option>
              </select>
            </div>
            <button class="btn find-btn">To find</button>
          </form>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <ul class="program-items">
            {{#times 3}}
            <li class="program-item wow fadeIn">
              <div class="program-item-img" style="background-image:url('img/news1.png')"></div>
              <div class="program-item-info">
                <h2 class="title">Istituto Marangoni Milano</h2>
                <ul class="item-detail">
                  <li>A country</li>
                  <li>İtaly</li>
                </ul>
                <ul class="item-detail">
                  <li>City</li>
                  <li>Milan</li>
                </ul>
                <ul class="item-detail">
                  <li>Language of instruction</li>
                  <li>English, Italian</li>
                </ul>
                <ul class="item-detail">
                  <li>A type</li>
                  <li>University</li>
                </ul>
                <a class="details-link" href="">Learn More <img src="img/right-arrow.png" alt=""></a>
              </div>
            </li>
            {{/times}}
          </ul>
          <div class="pagination-wrap">
            <div class="pagination-nav">
              <a href="#" class="back"><img src="img/left-arrow.png" alt="">back</a>
              <a href="#" class="next">next<img src="img/right-arrow.png" alt=""></a>
            </div>
            <ul class="pagination">
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">5</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="about-program">
      <div class="advantages">
        <h1>Advantages of private schools abroad</h1>
        <p>The goal of each boarding school abroad is to realize the
          potential of each student: to give a high-quality secondary
          education, to maximize creative abilities, to help with the
          choice of a profession.</p>
        <p>The main advantages of foreign schools:</p>
        <ul>
          <li>high-quality academic and language training;</li>
          <li>first-class infrastructure for study, sports and creativity;</li>
          <li>security on campus;</li>
          <li>the international environment;</li>
          <li>vocational guidance from junior classes;</li>
          <li>education of independence and responsibility.</li>
        </ul>
        <p>In such schools parents can not worry about the child - every
            minute he will be next to teachers, friends and mentors, who
            will help him become a harmonious person.</p>
      </div>
      <div class="cost">
        <h1>Cost of education</h1>
        <p>The cost of studying at a private boarding school
          abroad, as a rule, includes accommodation and
          meals.The table shows approximate prices for 1
          year.</p>

          <table class="table">
            <thead>
              <tr>
                <th>A country</th>
                <th>In local currency</th>
                <th>In dollars</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>United Kingdom</td>
                <td>22 000 - 45 000 GBP</td>
                <td>30 500 - 62 500 USD</td>
              </tr>
              <tr>
                <td>USA</td>
                <td>22 000 - 81 000 USD</td>
                <td>22 000 - 81 000 USD</td>
              </tr>
              <tr>
                <td>Canada</td>
                <td>23 000 - 68 000 CAD</td>
                <td>18 000 - 53 500 USD</td>
              </tr>
              <tr>
                <td>Europe</td>
                <td>18 000 - 45 000 EUR</td>
                <td>22 000 - 55 000 USD</td>
              </tr>
              <tr>
                <td>Switzerland</td>
                <td>59 000 - 100 000 CHF</td>
                <td>63 000 - 106 000 USD</td>
              </tr>
              <tr>
                <td>Thailand</td>
                <td>632 000 THB</td>
                <td>20 000 USD</td>
              </tr>
            </tbody>
          </table>

          <p>Among the additional costs - form, training
              materials, additional excursions and sports
              sections.</p>
      </div>
    </div>

    <div class="contact section">
      <div class="container">
        <div class="contact-wrap">
          <div class="contact-left">
            <h1 class="section-title">Do with us!</h1>

            <div class="manager-avatar">
              <img class="img-responsive" src="img/manager.png" alt="">
            </div>
            <div class="manager-info">
              <div class="manager-name">Elena Blyman</div>
              <div class="manager-preview-text">Head of the Department of Education Abroad</div>
              <div class="manager-mail">e.bliman@iqconsultancy.ru</div>
            </div>
          </div>
          <div class="contact-right">
            <p class="contact-text">
              Leave a request or contact us by phone. IQ Consultancy experts will help
              you choose the right educational institution and program, issue documents and a visa,
              prepare for admission and training, and successfully enroll.
            </p>
            <form>
              <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                  <input type="text" class="form-control" id="phone" placeholder="Phone">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                  <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
                  <button class="btn contact-btn">To get a consultation</button>
                </div>
                <div class="col-xs-12 col-md-11 col-md-offset-1">
                  <div class="contact-link">By clicking on the button, you consent to the processing of your personal data. We guarantee <a href="">confidentiality .</a></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
