<div class="services-page">
  {{>cover}}
  <div class="container">
    <ul class="services-wrap">
      <li class="wow fadeIn">
        <div class="services-left">
          <h1>1. Counseling</h1>
        </div>
        <div class="services-right">
          <a href="">
            <img src="img/right-arrow.png" alt="">
            We will help you to choose the country, school and program
          </a>
          <p>Which country, school or university do you meet your goals? What are
            the career prospects for you? How much does it cost to study abroad?
            What do you need to do? Experienced specialists in education abroad
            will answer all your questions.</p>
        </div>
      </li>
      <li class="wow fadeIn">
        <div class="services-left">
          <h1>2. Preparation for training</h1>
        </div>
        <div class="services-right">
          <a href="">
            <img src="img/right-arrow.png" alt="">
            We will tighten the level of the language, we will
            prepare for academic subjects
          </a>
          <p>Our experts will save you the most time: prepare and translate documents,
            help write a motivation letter, issue a visa, organize a flight and transfer.</p>
        </div>
      </li class="wow fadeIn">
      <li>
        <div class="services-left">
          <h1>3. Execution of documents</h1>
        </div>
        <div class="services-right">
          <a href="">
            <img src="img/right-arrow.png" alt="">
            Quickly issue a visa and the documents required for enrollment
          </a>
          <p>Our experts will save you the most time: prepare and translate documents,
            help write a motivation letter, issue a visa, organize a flight and transfer.</p>
        </div>
      </li>
      <li class="wow fadeIn">
        <div class="services-left">
          <h1>4. Supervision</h1>
        </div>
        <div class="services-right">
          <a href="">
            <img src="img/right-arrow.png" alt="">
            We will maintain a constant connection between
            the parents and the school where the child is
            studying
          </a>
          <p>We take care of the well-being of children and the peace of the parents,
            therefore we take care of all household and financial issues, we inform the family about
            academic performance. Our specialists are always in touch with the personal curator of
            the child at school.</p>
        </div>
      </li>
    </ul>
    {{>contact-section}}
  </div>
</div>
