<section class="study-page">
    {{>cover }}

  <div class="study-wrap">
    <div class="container">
      <div class="study-section wow fadeIn">
        <div class="heading">
          <h1>About country</h1>
        </div>
        <div class="about-country study">
          <div class="country-left">
            <p >The Australian continent is unique: pristine nature and rich fauna coexist with
                skyscrapers, business quarters and prestigious universities. The education
                system in Australia is built according to the British model. At the same time,
                the cost of training in Australian universities is significantly lower than in the
                US and European countries (30-40%). Universities of the country occupy high
                positions in international educational ratings. According to one of the most
                famous and respected editions of the Times Higher Education, the three largest
                Australian universities entered the first hundred of the World University
                Reputation Rankings for 2016.
              </p>
          </div>
          <div class="country-right">
            <ul>
              <li><a href="#">More about Higher Education <img src="img/right-arrow.png" alt=""></a></li>
              <li><a href="#">Australian Higher Schools <img src="img/right-arrow.png" alt=""></a></li>
              <li><a href="#">Language Courses <img src="img/right-arrow.png" alt=""></a></li>
            </ul>
          </div>
        </div>
        <div class="prospects study">
          <h1>Prospects</h1>
          <p>Diplomas of Australian universities are highly valued all over the world. Universities with international affiliates
            take part in student exchange programs. In this country with a high standard of living, economic potential and the
            need for various specialists, a favorable migration policy operates. After completing the undergraduate program, a
            student can obtain a work visa for two years. A promising area is the hospitality industry, which is actively
            developing in Australia.
          </p>
        </div>

      </div>
    </div>
    <div class="expert study wow fadeIn">
      <div class="container">
          <h1>Expert help</h1>
          <p>IQ Consultancy will help you choose the right educational institution and complete all the necessary documents
              for successful enrollment. We conduct pre-testing to develop the most effective training program, organize study
              tours and supervise schoolchildren upon admission, helping them in addressing issues related to adaptation and
              training in Australia.
          </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="studying-programs-wrap">
      <div class="page-title"><h1>Studying programs</h1></div>
      <div class="program-item wow fadeIn">
        <div class="program-img" style="background-image:url('img/news1.png')"></div>
        <div class="program-info">
          <h2 class="title">Higher education</h2>
          <p class="content">
            Three universities of the country are included in the top
            50 prestigious ranking of QS World University Rankings
            2014. Students who receive higher education in Canada
            have excellent conditions for research work.
            Great popularity among international students is also
             enjoyed by Canadian colleges, enrolling in which after
            school is easier. After graduating from college, graduates
            can continue their education through the undergraduate
             program at the university or start working.
          </p>
          <li class="see-link"><a href="#">See the catalog of universities <img src="img/right-arrow.png" /></a></li>
        </div>
      </div>
      <div class="program-item wow fadeIn">
        <div class="program-img" style="background-image:url('img/news2.png')"></div>
        <div class="program-info">
          <h2 class="title">Language classes</h2>
          <p class="content">
            Australian language schools are open all year round.
            Students can take general or academic English courses in
            language schools and university-based centers. Study in
            Australia is a great opportunity to combine learning English
            with active pastime and rest on the coast of the Pacific and
            Indian oceans. Many foreign students enjoy the opportunity
            to dive, windsurf or travel around the country.
          </p>
          <li class="see-link"><a href="">See the catalog of universities <img src="img/right-arrow.png" /></a></li>
        </div>
      </div>
    </div>
  </div>

  <div class="cost section">
    <div class="container">
      <div class="page-title">
        <h1>Cost of education in Australia</h1>
      </div>
      <div class="cost-heading">
        <h3><a href="#">Higher education</a></h3>
        <h3><a href="#">Language classes</a></h3>
      </div>
      <div class="">
        <ul>
          <li>AUD 22000-59000 for the year of study</li>
          <p>The cost of higher education usually includes:</p>
          <li>Training</li>
          <li>Educational materials</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="container">
      <div class="contact section">
        <div class="container">
      <div class="contact-wrap">
        <div class="contact-left">
          <h1 class="section-title">Do with us!</h1>

          <div class="manager-avatar">
            <img class="img-responsive" src="img/manager.png" alt="">
          </div>
          <div class="manager-info">
            <div class="manager-name">Elena Blyman</div>
            <div class="manager-preview-text">Head of the Department of Education Abroad</div>
            <div class="manager-mail">e.bliman@iqconsultancy.ru</div>
          </div>
        </div>
        <div class="contact-right">
          <p class="contact-text">
            Leave a request or contact us by phone. IQ Consultancy experts will help
            you choose the right educational institution and program, issue documents and a visa,
            prepare for admission and training, and successfully enroll.
          </p>
          <form>
            <div class="row">
              <div class="col-xs-12 col-md-5 col-md-offset-1">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <input type="text" class="form-control" id="phone" placeholder="Phone">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="col-xs-12 col-md-5 col-md-offset-1">
                <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
                <button class="btn contact-btn">To get a consultation</button>
              </div>
              <div class="col-xs-12 col-md-11 col-md-offset-1">
                <div class="contact-link">By clicking on the button, you consent to the processing of your personal data. We guarantee <a href="">confidentiality .</a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
        </div>
      </div>
  </div>
</section>
