<section class="team-page">
    {{>cover }}

  <div class="container">
    <div class="team-wrap">
      {{#times 4}}
      <div class="team-item wow fadeIn">
        <div class="team-img" style="background-image:url('img/news2.png')"></div>
        <div class="team-info">
          <h2 class="title">Günel Məmmədova</h2>
          <p class="position">Xaricdə Təhsil üzrə Məsləhətçi</p>
          <ul class="team-contact">
            <li><i class="fa fa-phone"></i>+994505122828</li>
            <li><i class="fa fa-envelope "></i>gunel@azeristudent.az</li>
          </ul>
        </div>
      </div>
      {{/times}}

    </div>
  </div>
</section>
