<header>
    <div class="container">
        <div class="nav-header">
            {{!-- N A V --}}
            <div class="nav">

                <div class="left-sec-nav">
                    {{!-- n a v   l o g o --}}
                    <div class="nav_logo">
                        <a href="">
                            <img src="../assets/logo_white.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="right-sec-nav">
                    {{!-- m e n u --}}
                    <ul class="menu">
                        <li >
                            <a href="" class="border-bottom-active">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Contact
                            </a>

                        </li>
                        <li>
                            <a href="" >
                                Spring Fair 2020
                            </a>
                        </li>
                    </ul>

                    {{!-- t o g g l e   m e n u   b u t t o n --}}
                    <button id="toggleMenuButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    {{!-- t o g g l e   m e n u --}}

                </div>
            </div>
            {{!-- //N A V --}}
        </div>
    </div>
    <div class="toggle_menu">
        <div class="toggle-menu-mother">
             <ul class="toggle-menu-ul">
            <li >
                <a href="">
                    About
                </a>
            </li>
            <li>
                <a href="">
                    Contact
                </a>

            </li>
            <li>
                <a href="">
                    Spring Fair 2020
                </a>
            </li>
        </ul>
        </div>
    </div>
</header>