<div id="videoHolder" class="row">
    <div class="col-md-8 col-lg-7 d-flex align-items-center">
        <a id="video" data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
            <img src="../assets/building.jpg">
        </a>
    </div>
    <div class="col-md-4 col-lg-5 justify-content-end align-items-end d-none d-md-flex">
        <img src="../assets/human.svg" class="img-fluid">
    </div>
</div>