<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    <div id="about_section">
        <div class="container">
            <div class="title">
                About
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="about-list-style">
                        <div class="disk"></div>
                        <div class="disk_p">
                            <p>
                                We, Azerbaijani’s leading educational counseling agency, were founded in 2008. Since
                                2008, we’ve had more than 5.000 students whom we place at the universities (foundation,
                                undergraduate and graduate), language schools, high schools and colleges. Our students
                                studied in various countries such as United States of America, Canada, United Kingdom,
                                Australia, Malta, New Zealand, Spain, Italy, Germany, Holland, Switzerland, China and
                                France.

                            </p>
                        </div>
                    </div>
                    <div class="about-list-style sd">
                        <div class="disk"></div>
                        <div class="disk_p">
                            <p>
                                We’re running educational fairs in Azerbaijan, Ukraine and Georgia 2 times in a year.

                            </p>
                        </div>
                    </div>
                    <div class="about-list-style ">
                        <div class="disk"></div>
                        <div class="disk_p">
                            <p>
                                We’re the founder of the future of education counseling service, Azeri Student, which is
                                the most unique educational web site (www.azeristudent.az)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-list-style sd">
                        <div class="disk"></div>
                        <div class="disk_p">
                            <p>
                                We’ve opened our 4th office. Now, Azeri Student has offices not only in Baku, but also
                                in Ukraine, Georgia and Albania.

                            </p>
                        </div>
                    </div>
                    <div class="about-list-style">
                        <div class="disk"></div>
                        <div class="disk_p">
                            <p>


                                We’ve been working with prestigious institutions all around the world such as St.
                                Andrews University, Brunel University London, Reading University, Lancaster University,
                                Leicester University, Aberdeen University, Robert Gordon University, University of
                                Surrey, Anglia Ruskin University, Royal Holloway University London, Exeter University,
                                Aberystwyth University, Glion London, Les Roches institute of Hotel Management , EU
                                business school, Glasgow University, Cambridge Education Group, Study Group, Navitas,
                                Shorelight group universities … and more!
                            </p>
                        </div>
                    </div>
                    <div class="about-list-style sd">
                        <div class="disk"></div>
                        <div class="disk_p">
                            <p>
                                We’ve had our own language schools in Azerbaijan and Educational Magazine.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{> common/footer }}

</body>

</html>