<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    <div id="contact_section">
        <div class="title">
            Contact
        </div>
        <div class="contact_section_back">
            <div class="container">
                {{!-- contact address --}}
                <div class="contact">
                    <div class="contact-title">
                        <h3>
                            Feel free to call us or email.
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-text">
                                <div class="contact-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <p class="contact-about">
                                    Nobel Avenue 15, Azure Business Center <br> 20th floor office 135, AZ1025 Baku, <br>
                                    Azerbaijan
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-text">
                                <div class="contact-icon">
                                    <img src="../assets/email.png" alt="">
                                </div>
                                <p class="contact-about">
                                    info@azeristudent.az
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-text">
                                <div class="contact-icon">
                                    <img src="../assets/telephone-1.png" class="contact-img" alt="">
                                </div>
                                <p class="contact-about">
                                    (+994 50) 512 28 28 <br>
                                    (+994 50) 291 79 91 <br>
                                    (+994 12) 488 66 78</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- contact address --}}

            </div>
        </div>
    </div>

    {{> common/footer }}

</body>

</html>