<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    <div id="springfair_section">
        {{!-- spring fair details --}}
        <div class="container">
            <div class="title">
                Spring Fair 2020
            </div>
            <div class="spring-fair-text">
                <span>
                    Dear International Officers ,
                </span>
                <p> We, the Azeri Student Team, take immense pleasure in inviting you to attend the Azeri Student Spring
                    Fair
                    2020.</p>
                <p>
                    Our Educational Fairs have proven them selves to not only be the most popular in the market being
                    abundantly
                    attended by high quality, legitimately prospective students but also growing in productivity for our
                    partners on a regular basis.
                </p>
                <p>
                    Our Fairs will be held on the following dates:
                </p>
                <p>
                    February 15: Lviv
                </p>
                <P>
                    February 22: Tbilisi
                </P>
                <P>
                    February 23: Baku
                </P>
                <p>
                    February 29: Tirana
                </p>
                <p>
                    Despite the level of productivity and our reputation for delivery of students we have received
                    feedback that
                    our fairs are the most expensive in the region. We take partner feedback very seriously so on this
                    occasion
                    we have removed the all-inclusive option and we will charge only for fair participation, which will
                    be only
                    for 1550 GBP per city.
                </p>
                <p>
                    We would also like to inform you that the Ministry of Education of The Republic of Azerbaijan will
                    be
                    sponsoring over 100 students for PHD programs at any TOP 500 University in the world. Therefore will
                    also be
                    holding a special PHD night in Baku for any students willing to apply to this program.
                </p>
                <p>
                    We highly appreciate your support and cooperation during our fair season and will be super happy to
                    see you
                    all soon.
                </p>
                <p>
                    In the short-term, if you have any questions or need further information, please do not hesitate to
                    contact
                    us.
                </p>
            </div>
            <div class="spring-fair-layer-image">
                <p>10% discount on Early Registration .</p>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="spring-fair-layer-img-child">
                            <img src="../assets/rectangle.png" alt="">
                            <div class="springfair-layer">
                                <p>February 15</p>
                            </div>

                        </div>
                        <div id="spring-fair-image-text">
                            <h6>
                                Lviv 2020
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="spring-fair-layer-img-child">
                            <img src="../assets/rectangle.png" alt="">
                            <div class="springfair-layer">
                                <p>February 15</p>
                            </div>

                        </div>
                        <div id="spring-fair-image-text">
                            <h6>
                                Lviv 2020
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="spring-fair-layer-img-child">
                            <img src="../assets/rectangle.png" alt="">
                            <div class="springfair-layer">
                                <p>February 15</p>
                            </div>

                        </div>
                        <div id="spring-fair-image-text">
                            <h6>
                                Lviv 2020
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="spring-fair-layer-img-child">
                            <img src="../assets/rectangle.png" alt="">
                            <div class="springfair-layer">
                                <p>February 15</p>
                            </div>

                        </div>
                        <div id="spring-fair-image-text">
                            <h6>
                                Lviv 2020
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- spring fair details // --}}
        {{!-- spring fair register --}}
        <div class="spring-register">
            <div class="container">
                <div class="spring-register-header">
                    <h3 class="spring-register-h3">
                        Please fill out the form to register for the fair!
                    </h3>
                    <p>You may also send email to anar@azeristudent.az for registration!</p>
                </div>
                <div class="spring-form">
                    <form>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-11 col-md-11 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-section">
                                            <div class="form-inp">
                                                <label>
                                                    Full name
                                                </label>
                                                <input type="name" class="spring-form-input"
                                                    placeholder="Your first name">
                                            </div>
                                            <div class="form-inp">
                                                <label>
                                                    Email address
                                                </label>
                                                <input type="email" class="spring-form-input"
                                                    placeholder="Your first name">
                                            </div>
                                            <div class="form-inp">
                                                <label>
                                                    Institution name
                                                </label>
                                                <input type="name" class="spring-form-input"
                                                    placeholder="Your first name">
                                            </div>
                                            <div class="form-inp">
                                                <label>
                                                    Select event ( cities)
                                                </label>
                                                <div id="button-spring-register">
                                                    <label class="dsd">
                                                        <input type="checkbox" id="accept" name="accept"
                                                            data-city="lviv" class=" button-spring">
                                                        <span class="checkmark button-spring">Liviv</span>
                                                    </label>
                                                    <label class="dsd">
                                                        <input type="checkbox" id="accept1" name="accept"
                                                            data-city="tbilisi" class=" button-spring">
                                                        <span class="checkmark button-spring">Tiblisi</span>
                                                    </label>
                                                    <label class="dsd">
                                                        <input type="checkbox" id="accept2" name="accept"
                                                            data-city="baku" class=" button-spring">
                                                        <span class="checkmark button-spring">Baku</span>
                                                    </label>
                                                    <label class="dsd">
                                                        <input type="checkbox" name="accept" data-city="tirana"
                                                            id="accept3" class=" button-spring">
                                                        <span class="checkmark button-spring">Tirana</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-inp">
                                                <label>
                                                    How many tables each city
                                                </label>
                                                <div class="button-select">
                                                    <div class="selected-cart-item" data-city="lviv">
                                                        <button type="button" disabled="disabled"
                                                            class="increase accept">+</button>
                                                        <input type="number" id="amount" value="0" min="0">
                                                        <button type="button" disabled="disabled"
                                                            class="decrease accept">-</button>
                                                    </div>
                                                    <div class="selected-cart-item" data-city="tbilisi">
                                                        <button type="button" disabled="disabled"
                                                            class="increase accept-1">+</button>
                                                        <input type="number" id="amount" value="0" min="0">
                                                        <button type="button" disabled="disabled"
                                                            class="decrease accept">-</button>
                                                    </div>
                                                    <div class="selected-cart-item" data-city="baku">
                                                        <button type="button" disabled="disabled"
                                                            class="increase accept-2">+</button>
                                                        <input type="number" id="amount" value="0" min="0">
                                                        <button type="button" disabled="disabled"
                                                            class="decrease accept-2">-</button>
                                                    </div>
                                                    <div class="selected-cart-item" data-city="tirana">
                                                        <button type="button" disabled="disabled"
                                                            class="increase accept-3">+</button>
                                                        <input type="number" id="amount" value="0" min="0">
                                                        <button type="button" disabled="disabled"
                                                            class="decrease accept-3">-</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-section">
                                            <div class="form-inp">
                                                <label>
                                                    Special comment
                                                </label>
                                                <textarea name="text" class="spring-form-input textarea-form" id=""
                                                    placeholder="Special comment"></textarea>

                                            </div>
                                            <div class="form-inp">
                                                <label>
                                                    Billing address
                                                </label>
                                                <input type="email" class="spring-form-input"
                                                    placeholder="Billing address">
                                            </div>
                                            <div class="form-inp">
                                                <label>
                                                    Signature
                                                </label>
                                                <input type="name" class="spring-form-input" placeholder="Signature">
                                            </div>
                                            <div id="form-data-section">
                                                <p>27 November 2019</p>
                                                <input type="button" class="button-a form-section-button"
                                                    value="Sign up" placeholder="Signature">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- spring fair register // --}}
        {{!-- spring fair previus exhibitions --}}
        <div id="previous-exhibitions">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-11 col-md-12">
                        <h3>
                            Universities from our previous exhibitions
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="previous-exhibitions-image">
                    <div class="owl-carousel owl-theme">
                        <div> <img src="../assets/newcastle.png"
                                style=" width: 143px; height: 47px; object-fit: contain;" alt="">
                        </div>
                        <div> <img src="../assets/birmingham.png"
                                style=" width: 168px; height: 40px; object-fit: contain;" alt=""> </div>
                        <div> <img src="../assets/queens.png" style=" width: 89px; height: 61px; object-fit: contain;"
                                alt=""> </div>
                        <div> <img src="../assets/manitobe.png"
                                style=" width: 126px; height: 61px; object-fit: contain;" alt=""></div>
                        <div> <img src="../assets/northwestern.png"
                                style=" width: 92px; height: 55px; object-fit: contain;" alt=""> </div>
                        <div> <img src="../assets/njcu.png" style=" width: 161px ; height: 55px; object-fit: contain;"
                                alt=""> </div>
                        <div> <img src="../assets/jacobs.png" style=" width: 156px; height: 55px; object-fit: contain;"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- spring fair previus exhibitions // --}}
        {{!-- spring fair comment owl carousel --}}
        <div class="spring-fair-comment">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-11 col-md-12">
                        <h3>
                            What they say
                        </h3>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="owl-item-card">
                        <div class="row">
                            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                <div class="owl-item-card-image">
                                    <img src="../assets/rectangle.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <img src="../assets/dott.png" class="owl-items-card-img" alt="">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.
                                </p>
                                <div class="owl-item-card-text-span">
                                    <span>
                                        Florence Russell
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item-card">
                        <div class="row">
                            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                <div class="owl-item-card-image">
                                    <img src="../assets/rectangle.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <img src="../assets/dott.png" class="owl-items-card-img" alt="">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.
                                </p>
                                <div class="owl-item-card-text-span">
                                    <span>
                                        Florence Russell
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item-card">
                        <div class="row">
                            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                <div class="owl-item-card-image">
                                    <img src="../assets/rectangle.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <img src="../assets/dott.png" class="owl-items-card-img" alt="">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.
                                </p>
                                <div class="owl-item-card-text-span">
                                    <span>
                                        Florence Russell
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item-card">
                        <div class="row">
                            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                <div class="owl-item-card-image">
                                    <img src="../assets/rectangle.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <img src="../assets/dott.png" class="owl-items-card-img" alt="">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.
                                </p>
                                <div class="owl-item-card-text-span">
                                    <span>
                                        Florence Russell
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- spring fair comment owl carousel // --}}
        {{!-- spring fair gallery --}}
        <div class="spring-fair-gallery">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-11 col-md-12">
                        <div class="spring-fair-gallery-header">
                            <h3>
                                Gallery
                            </h3>
                            <p>All photos and videos</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <a class="fancybox spring-fair-gallery-img" data-fancybox="gallery" rel="group"
                            href="../assets/rect.png">
                            <img src="../assets/rect.png" style="height: 284px;" alt="">
                            <div class="overlay-spring">
                                <img src="../assets/search.png" class="sdsd" alt="">
                            </div>
                        </a>

                        <a class="fancybox spring-fair-gallery-img" data-fancybox="gallery" rel="group"
                            href="../assets/rect.png">
                            <img src="../assets/rect.png" style="height: 298px;" alt="">
                            <div class="overlay-spring">
                                <img src="../assets/search.png" class="sdsd" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a class="fancybox spring-fair-gallery-img" data-fancybox="gallery" rel="group"
                            href="../assets/rect.png">
                            <img src="../assets/rect.png" style="height: 362px;" alt="">
                            <div class="overlay-spring">
                                <img src="../assets/play.png" class="sdsd" alt="">
                            </div>
                        </a>
                        <a class="fancybox spring-fair-gallery-img" data-fancybox="gallery" rel="group"
                            href="../assets/rect.png">
                            <img src="../assets/rect.png" style="height: 218px;" alt="">
                            <div class="overlay-spring">
                                <img src="../assets/play.png" class="sdsd" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="fancybox spring-fair-gallery-img" data-fancybox="gallery" rel="group"
                            href="../assets/rect.png">
                            <img src="../assets/rect.png" style="height: 284px;" alt="">
                            <div class="overlay-spring">
                                <img src="../assets/search.png" class="sdsd" alt="">
                            </div>
                        </a>
                        <a class="fancybox spring-fair-gallery-img" data-fancybox="gallery" rel="group"
                            href="../assets/rect.png">
                            <img src="../assets/rect.png" style="height: 298px;" alt="">
                            <div class="overlay-spring">
                                <img src="../assets/search.png" class="sdsd" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        {{!-- spring fair gallery // --}}

    </div>

    {{> common/footer }}

</body>

</html>