<footer>
  ﻿ <div class="container">
    ﻿ <div class="row">
      ﻿ <div class="col-xs-12 col-md-4">
        ﻿ <h2 class="footer-title">Write to us</h2>
        <div class="social-icons">
          <p>Join Social Networks. Learn</br>the latest innovations first!</p>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
        ﻿
      </div>
      <div class="col-xs-12 col-md-4">
        ﻿ <h2 class="footer-title">Contact</h2>
        <ul class="contact-items">
          <li class="contact-item">
            <i class="fa fa-map-marker"></i>
            Nobel prospekti 15, Azure Business</br>
            Mərkəzi, 20-ci mərtəbə ofis 135</br>
            AZ1025 Bakı, Azərbaycan</li>
          <li class="contact-item">
            <i class="fa fa-phone"></i>
            <ul class="phone-numbers">
              <li>+994 50 512 28 28</li>
              <li>+994 50 291 79 91</li>
              <li>+994 12 488 66 78</li>
            </ul>
          </li>
          <li class="contact-item">
            <i class="fa fa-globe"></i>
            <ul>
              <li>info@azeristudent.az</li>
              <li>www.azeristudent.az</li>
            </ul>
          </li>
        </ul>
        ﻿
      </div>
      <div class="col-xs-12 col-md-4">
        ﻿ <h2 class="footer-title">Menu</h2>
        <ul class="footer-menu">
          <li><a href="">Haqqımızda</a></li>
          <li><a href="">Xəbərlər</a></li>
          <li><a href="">Tədbirlər</a></li>
          <li><a href="">Əlaqə</a></li>
        </ul>
        ﻿
      </div>
    </div>
    ﻿ </div>
  ﻿</footer>