<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content-wrap">
                    <h1 class="title">Нужна консультация?</h1>

                    <form>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                        <div class="phone-inpt-group">
                            <select name="prefix">
                                <option value="055">055</option>
                                <option value="050">050</option>
                                <option value="051">051</option>
                                <option value="077">077</option>
                                <option value="070">070</option>
                            </select>
                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                        </div>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <textarea class="form-control" name="message" rows="8" cols="80"
                            placeholder="Message"></textarea>
                        <button data-dismiss="modal" class="btn contact-btn">To get a consultation <img
                                src="../assets/right-arrow-white.png" alt=""></button>
                    </form>

                    <small>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных. Гарантируем <a
                            href="">конфиденциальность</a>.</small>
                </div>
            </div>
        </div>
    </div>
</div>