{% load static %}
{% if is_paginated %}
    <div class="pagination-wrap">
        <div class="pagination-nav">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="back"><img
                        src="{% static 'azeristudent/img/left-arrow.png' %}" alt="">Geriyə</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="next">Növbəti<img
                        src="{% static 'azeristudent/img/right-arrow.png' %}" alt=""></a>
            {% endif %}
        </div>
        <ul class="pagination">
            <!-- {% if not page_range %}
                {% for page_number in paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <li class="active">
                            <a>{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page_number in page_range %}
                    {% if page_number == page_obj.number %}
                        <li class="active">
                            <a>{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %} -->
            {% if page_obj.number >= 5 %}
            <li><a href="?page=1">1</a></li>
            <li><a href="javascript:void()" style="pointer-events: none;">...</a></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><a href="javascript:void()" style="pointer-events: none;">...</a></li>
            <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}