{% extends "home/index.html" %}
{% load static %}
{% block title %}
    {{ object.name }} | {{ block.super }}
{% endblock %}

{% block social_headers %}
    <!-- Facebook share header -->
    <meta property="og:title" content="{{ object.name }}">
    <meta property="og:description" content="{{ object.summary }}">
    {% if object.picture %}
        <meta property="og:image" content="https://{{ request.get_host }}{{ object.picture.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <!--Twitter header-->
    <meta name="twitter:card" content="summary_large_image">
    {% if object.picture %}
        <meta name="twitter:image"
              content="https://{{ request.get_host }}{{ object.picture.url }}">
    {% endif %}
    <meta name="twitter:image:alt" content="{{ object.name }}">
    <meta name="twitter:creator" content="@azeristudent01"/>
    <meta name="twitter:site" content="@azeristudent01">
{% endblock %}
{% block extra_script %}
<!-- Facebook Pixel Code -->
<script> 
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3029457137373275');
    fbq('track', 'PageView');
    fbq('track', 'ViewContent',{
        content_name: '{{ object.name }}',
        content_category: 'Reviews',
    });
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3029457137373275&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    
{% endblock %}

{% block base_content %}
    <section class="reviews-page">
        <div class="page-cover"
             {% if object.background %}style="background: url({{ object.background.url }}); background-size: cover;"{% endif %}>
            <div class="container">
                <div class="cover-items">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="page-title">{{ object.name }}</h1>
                        </div>
                    </div>
                    <ol class="breadcrumb">
{#                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana səhifə</a></li>#}
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">AzeriStudent</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'review-list' %}">Rəylər</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
                    </ol>
                    <p class="cover-info "></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="review-detail-wrap section-wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="review-img">
                            <img class="img-responsive" src="{{ object.picture.url }}" alt="">
                        </div>

                        {% if object.social_media_review.all %}
                        <div class="socialNetwork">
                        <span>Əlaqə vasitəsi:</span>
                            {% for social in object.social_media_review.all %}
                                 <a href="{{ social.urls }}"><img src="{{ social.name.icon.url }}"></a>
                            {% endfor %}

                        </div>
                        {% endif %}

                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h1>{{ review.name }}</h1>
                        <div class="from">{{ review.university_name }}</div>
                        <blockquote><i class="fa fa-quote-left"></i> {{ review.summary }} <i
                                class="fa fa-quote-right"></i></blockquote>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        {{ review.description|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% include "partials/social_media_buttons.html" %}
            <div class="myClassforPartial">
            {% include "partials/do_with_us.html" %}
            </div>
        </div>
    </section>
{% endblock %}