$sliderHeight:800px;
.slider{
  .slider-item{
    position: relative;
    height: $sliderHeight;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include breakpoint(visible-xs){
      height: 570px;
    }
    .slider-wrap{
      height: $sliderHeight;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include breakpoint(visible-xs){
        height: 570px;
      }
      .slider-title{
        font-size: 50px;
        font-weight: bold;
        color:$black;
        @include breakpoint(visible-xs){
          font-size: 30px;
        }
      }
      .slider-content{
        font-size: 20px;
        font-weight: 500;
        margin:20px 0;
        @include breakpoint(visible-xs){
          font-size: 18px;
          margin:10px 0;
        }
      }
      .slider-btn-wrap{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 70px;
        .slider-btn{
          position: relative;
          border-radius: 5px;
          border:1px solid $red;
          background: transparent;
          font-size: 20px;
          font-weight: 500;
          color: $red;
          margin-top:30px;
          padding: 10px 50px;
          display: flex;
          align-items: center;
          img{
            // transition: .2s;
            width: 25px;
            margin-left: 10px;

            &.arrow-white{
              position: absolute;
              right: 50px;
              opacity: 0;
            }
          }
          &:hover{
            background-color: $red;
            color: $white;
            img{
              opacity: 0;
              &.arrow-white{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    .owl-dot{
      span{
        width: 12px !important;
        height: 12px !important;
        background-color: $white !important;
      }
      &.active{
        span{
          background-color: $red !important;
        }
      }
    }
  }
}

.about{
  .about-company-wrap{
    display: flex;
    justify-content: space-between;
    @include breakpoint(visible-xs){
      flex-direction: column;
      overflow: hidden;
    }
    .about-company-info{
      width: 46%;
      @include breakpoint(visible-xs){
        width: 100%;
      }
      p{
        text-align: justify;
        font-size: 24px;
        @include breakpoint(visible-xs){
          font-size: 18px;
        }
      }
      ul{
        margin: 50px 0;
        @include breakpoint(visible-xs){
          margin:25px 0;
        }
        li{
          position: relative;
          font-size: 24px;
          font-weight: bold;
          text-align: justify;
          padding-left: 73px;
          line-height: 1.8;
          @include breakpoint(visible-xs){
            font-size: 20px;
          }
          &:before{
            content: "";
            position: absolute;
            left: 0;
            background: #000;
            left: 3px;
            top: 21px;
            width: 45px;
            height: 3px;
          }
        }
      }
    }
    .about-company-services{
      width: 35.5%;
      @include breakpoint(visible-xs){
        width: 100%;
        margin-top: 20px;
      }
      ul{
        margin-top: -30px;
        li{
          a{
            display: flex;
            flex-direction: column;
            margin: 0 -30px;
            padding: 31px 90px 31px 35px;
            border: 3px solid transparent;
            position: relative;
            line-height: 1.3;
            @include breakpoint(visible-xs){
              padding: 15px 0px 15px 35px;
            }
            span{
              font-size: 20px;
              font-weight: 500;
              @include breakpoint(visible-xs){
                font-size: 17px;
              }
              &:first-child{
                color: $red;
                margin-bottom: 8px;
              }
            }
            &:hover{
              border-color: $red;
              img{
                opacity: 1;
                right: 30px;
              }
            }
            img{
              opacity: 0;
              -webkit-transition: .2s;
              transition: .2s;
              top: 50%;
              transform: translateY(-50%);
              position: absolute;
              right: 100px;
            }
          }
        }
      }
    }
  }
  .about-company--btn-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint(visible-xs){
      margin-top: 20px;
    }
    .about-company-btn{
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 5px;
      border: solid 1px $red;
      font-size: 15px;
      color: $red;
      padding: 7px 25px;
      background: transparent;
      
      img{
        // transition: .2s;
        width: 20px;
        margin-left: 10px;

        &.arrow-white{
          position: absolute;
          right: 25px;
          opacity: 0;
        }
      }
      &:hover{
        background-color: $red;
        color: $white;
        img{
          opacity: 0;
          &.arrow-white{
            opacity: 1;
          }
        }
      }
    }
  }
}

.insurance{
  padding: 25px 0;

  .card-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 768px){
      flex-direction: row;
    }

    .imgHolder{
      width: 100%;
      border-radius: 16px 16px 0 0;
      overflow: hidden;
      position: relative;

      @media screen and (min-width: 768px){
        width: 50%;
        border-radius: 16px 0 0 16px;
      }

      .main_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }

      .layout{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .41);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 45px;


        h5{
          font-size: 25px;
          color: white;
          text-align: center;

          @media screen and (min-width: 768px){font-size: 35px;}
        }

        .pasha-logo{
          position: absolute;
          bottom: 5px;
          right: 5px;
          max-width: 85px;
        }
      }
    }

    .contentHolder{
      padding: 20px;
      width: 100%;
      border: 1px solid #ded8d8;
      border-style: hidden solid solid solid;
      border-radius: 0 0 16px 16px;

      @media screen and (min-width: 768px){
        padding: 50px;
        width: 50%;
        border-style: solid solid solid hidden;
        border-radius: 0 16px 16px 0;
      }

      h4{
        font-size: 24px;
        color: $red;
        font-weight: bold;
      }

      p{
        margin: 35px 0 55px;
        font-size: 24px;
        color: #212529;
      }

      .btnHolder{
        text-align: center;

        @media screen and (min-width: 768px){
          text-align: right;
        }
      }

      a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 170px;
        padding: 0 20px;
        height: 45px;
        border-radius: 4px;
        background-color: $red;
        transition: .5s;
        font-size: 20px;
        color: white;

        img{
          height: 18px;
          margin-left: 10px;
        }

        &:hover{
          background-color: darken($color: $red, $amount: 7%);
        }
      }
    }
  }
}

.catalog{
  background-color:#f4f4f4;

  .catalog-form-wrap{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    @include breakpoint(visible-xs){
      flex-direction: column;
    }
    .catalog-form-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 22%;
      @include breakpoint(visible-xs){
        width: 100%;
      }
      .form-label{
        font-size: 15px;
        font-weight: 500;
        margin:15px 0;
      }
      .form-select{
        position: relative;
        z-index: 1;
        font-weight: 300;
        select{
          outline: none;
          box-shadow: none;
          border-radius: 5px;
          border: solid 1px $black;
          width: 100%;
          padding: 17px 35px 17px 15px;
          background: transparent url("../img/bg-select.png") no-repeat 92% center;
          font-size: 15px;
          font-weight: 500;
          color: $black;
          line-height: 1.2;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }

      .find-btn{
        color: white;
        background-color: $orange;
        font-size: 20px;
        font-weight: bold;
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
        img{
          width: 24px;
          margin-left: 10px;
        }
        @include breakpoint(visible-xs){
          margin-top: 25px;
        }
        &:hover{
          background-color: darken($orange, 7%);
        }
      }
    }
  }

  .ask-link{
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    @include breakpoint(visible-xs){
      font-size: 12px;
    }
    a{
      color:$orange;
      i{
        margin-left: 5px;
      }
    }
  }
}

.services{
  .services-wrap{
    padding-top: 30px;
    @include breakpoint(visible-xs){
      padding-top:0;
      overflow: hidden;
    }
    li{
      width: 100%;
      display: flex;
      margin:15px 0;
      @include breakpoint(visible-xs){
        flex-direction: column;
      }
      .services-left{
        width: 40%;
        @include breakpoint(visible-xs){
          width: 100%;
          margin-bottom: 15px;
        }
        h3{
          font-size: 40px;
          font-weight: bold;
          color:$black;
          margin-top: 30px;
          @include breakpoint(visible-xs){
            font-size: 24px;
          }
        }
      }
      .services-right{
        width: 60%;
        @include breakpoint(visible-xs){
          width: 100%;
        }
        a{
          font-size: 24px;
          font-weight: 500;
          color:$red;
          margin: 0 -30px;
          padding: 30px 50px 25px 100px;
          position: relative;
          display: block;
          border: 3px solid transparent;
          -webkit-transition: .2s;
          transition: .2s;
          @include breakpoint(visible-xs){
            padding: 15px 50px 15px 100px;
            font-size: 20px;
          }
          &:before{
            content: "";
            position: absolute;
            top: 50%;
            left: 35px;
            width: 30px;
            height: 2px;
            background: #be271d;
            -webkit-transition: .2s;
            transition: .2s;
          }
          img{
            opacity: 0;
            -webkit-transition: .2s;
            transition: .2s;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 34px;
          }
          &:hover{
            border-color: $red;
            img{
              opacity: 1;
            }
            &:before{
              opacity: 0;
            }
          }
        }
        p{
            margin-top: 15px;
            font-size: 20px;
        }
      }
    }
  }
}

.events{
  .event-slider{
    padding-top: 20px;
    position: relative;
    .event-item{
      display: block;
      padding: 25px 25px 60px 35px;
      position: relative;
      border: 3px solid transparent;
      @include breakpoint(visible-xs){
        padding: 25px 50px 60px 50px;
      }
      &:hover{
        border-color: $red;
        img{
          opacity: 1;
        }
      }
      img{
        opacity: 0;
        -webkit-transition: .2s;
        transition: .2s;
        bottom: 15px;
        position: absolute;
        right: 20px;
        width: auto;
      }
      .event-item-title{
        font-size: 25px;
        font-weight: 500;
        color:$red;
        margin-bottom:40px;
      }
      .event-item-content{
        font-size: 20px;
      }
    }

    .owl-nav{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      button{
        position: absolute;
        bottom: 5px;
        &:hover{
          background: none;
        }
        &.owl-prev{
          left: -50px;
          @include breakpoint(visible-xs){
            left: 0;
          }
        }
        &.owl-next{
          right: -50px;
          @include breakpoint(visible-xs){
            right: 0;
          }
        }
      }
    }
  }

  .news-btn-wrap{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .news-btn{
      font-size: 20px;
      border:none;
      background: $red;
      font-weight: 500;
      color:$white;
      padding:7px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .2s;
      img{
        width: 24px;
        margin-left: 10px;
      }
      &:hover{
        background: darken($red,7%);
      }
    }
  }
}

.news{
  .news-content{
    padding-top: 20px;
    p{
        font-size: 25px;
        padding:10px 0;
        @include breakpoint(visible-xs){
          font-size: 20px;
        }
    }
  }
}

.reviews{
  background: #f4f4f4;

}

.contact{
  .contact-wrap{
    display: flex;
    @include breakpoint(visible-xs){
      flex-direction: column;
    }
    .contact-left{
      width: 30%;
      @include breakpoint(visible-xs){
        width: 100%;
      }
      h1{
        margin-top: 0;
      }

      .manager-avatar{
        width: 158px;
        margin: 30px 0;
        margin-top: 50px;
      }
      .manager-name{
        font-size: 25px;
        font-weight: 500;
      }
      .manager-preview-text{
        font-size: 20px;
        margin:15px 0
      }
      .manager-mail{
        font-size: 20px;
        font-weight: bold;
        color:$red;
      }
    }
    .contact-right{
      width: 70%;
      @include breakpoint(visible-xs){
        width: 100%;
        margin-top:20px;
      }
      .contact-text{
         font-size: 20px;
         padding-left: 100px;
         @include breakpoint(visible-xs){
           padding: 0;
         }
      }
      form{
        padding-left: 40px;
        margin-top:40px;
        @include breakpoint(visible-xs){
          margin-top: 30px;
          padding-left: 0;
        }
        .form-control{
          border-radius: 5px;
          border: solid 1px #000000;
          font-size: 15px;
          margin:25px 0;
          box-shadow: none;
          float: left;
          width: 100%;
          @include breakpoint(visible-xs){
            margin:10px 0;
          }
        }
        input{
          height: 48px;
        }
        textarea{
          height: 146px;
        }
        .contact-btn{
          margin-top: 30px;
          color: white;
          background: $red;
          font-size: 18px;
          font-weight: 500;
          padding: 8px 30px;
          transition: .2s;
          img{
            width: 24px;
            margin-left: 10px;
          }
          @include breakpoint(visible-xs){
            margin:15px 0;
          }
          &:hover{
            background: darken($red,7%);
          }
        }
        .contact-link{
            font-size: 12px;
            color: #b3b3b3;
            a{
              color: $red;
            }
        }
      }
    }
  }
}
