.team-page{
  .team-wrap{
    padding:40px 0;
    display: flex;
    flex-direction: column;
    .team-item{
      width: 100%;
      height: 258px;
      display: flex;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      transition: .2s;
      margin:25px 0;
      float: left;
      border-radius: 10px;
      overflow: hidden;
      @include breakpoint(visible-xs){
        flex-direction: column;
        height: auto;
      }
      &:hover{
        box-shadow: none;
        .team-info{
          border-color: $red;
          .title{
            color: $red;
          }
          .details-link{
            opacity: 1;
          }
        }
      }
      &>div{
        &:first-child{
          width: 30%;
          @include breakpoint(visible-xs){
            width: 100%;
          }
        }
        &:last-child{
          width: 70%;
          @include breakpoint(visible-xs){
            width: 100%;
          }
        }

      }
      .team-img{
        background-size: cover;
        background-repeat: no-repeat;
        @include breakpoint(visible-xs){
          height: 250px;
        }
      }
      .team-info{
        position: relative;
        padding: 45px 30px;
        border: 2px solid transparent;
        transition: .2s;
        border-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @include breakpoint(visible-xs){
          padding: 40px 25px;
          border:2px solid transparent;
          border-radius:10px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-top: 0;
        }
        .title{
          font-size: 25px;
          font-weight: 500;
          margin-bottom:5px;
        }
        .position{
          font-size: 17px;
        }
        .team-contact{
          margin-top:40px;
          li{
            font-size: 15px;
            margin-bottom: 20px;
            i{
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
