{% extends "home/index.html" %}
{% block title %}
    Səhifə mövcüd deyil | {{ block.super }}
{% endblock %}
<script> 
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3029457137373275');
    fbq('track', 'PageView');
    fbq('track', 'ViewContent',{
        content_name: 'Error 404',
        content_category: 'Errors',
    });
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3029457137373275&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
{% block base_content %}
    <div class="services-page">
        <div class="page-cover">
            <div class="container">
                <div class="cover-items">
                    <h1 class="page-title">Səhifə mövcüd deyil</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana səhifəyə qayıt</a></li>
{#                        <li class="breadcrumb-item active" aria-current="page">{{ config.services_title }}</li>#}
                    </ol>
                    <p class="cover-info "></p>
                </div>
            </div>
        </div>
        <div class="container">
            <br>
            <br>
            {% include "partials/do_with_us.html" %}
        </div>
    </div>
{% endblock %}