{% extends "home/index.html" %}
{% load static %}
{% block title %}
    {{ object.title }} | {{ block.super }}
{% endblock %}
<script> 
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3029457137373275');
    fbq('track', 'PageView');
    fbq('track', 'ViewContent',{
        content_name: '{{ object.title }}',
        content_category: 'Succesful',
    });
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3029457137373275&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
{% block social_headers %}
    <!-- Facebook share header -->
    <meta property="og:title" content="{{ object.title }}">
    <meta property="og:description" content="{{ object.about }}">
    {% if object.background_image %}
        <meta property="og:image"
              content="https://{{ request.get_host }}{{ object.background_image.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <!--Twitter header-->
    <meta name="twitter:card" content="summary_large_image">
    {% if object.background_image %}
        <meta name="twitter:image"
              content="https://{{ request.get_host }}{{ object.background_image.url }}">
    {% endif %}
    <meta name="twitter:image:alt" content="{{ object.title }}">
    <meta name="twitter:creator" content="@azeristudent01"/>
    <meta name="twitter:site" content="@azeristudent01">
{% endblock %}
{% block base_content %}
    <section id="success_page">
        {% if image.successful_cover %}
            <div class="page-cover"
                 style="background-image:url('{{ image.successful_cover.url }}')">
        {% else %}
            <div class="page-cover"
                 style="background-image:url('https://wallpaperplay.com/walls/full/f/e/1/162406.jpg')">
        {% endif %}
        <div class="container">
            <div class="cover-items">
                <h1 class="page-title ">{{ object.title }}</h1>
                <ol class="breadcrumb ">
{#                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana səhifə</a></li>#}
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">AzeriStudent</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Təşəkkürlər</li>
                </ol>
                <p class="cover-info "></p>
            </div>
        </div>
        </div>


        <div class="container">
            <div class="content">
                <h2>Təşəkkürlər</h2>
                <p>Müraciətiniz qeydə alındı</p>

                <a class="back" onclick="window.history.go(-1); return false;">Geriyə qayıt</a>
            </div>

            <div class="myClassforPartial">
                {% include "partials/do_with_us.html" %}
            </div>
        </div>
    </section>
{% endblock %}