/** 
* t1, t2 are types of base cards
* G-card type 1
*/

.g-cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(20);

  @include breakpoint(rem(475), rem(1400)) {
    grid-template-columns: repeat(auto-fill, minmax(rem(340), 1fr));
  }


  @include breakpoint(0, rem(475)) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.g-card__t1 {
  a {
    background-color: $light-gray;
    @include advancedRem(padding, (48 37));
    @include flex-center();
    color: $dark-gray;
    @include transition(all, 0.4s);
    height: 100%;

    @include action-css(hover) {
      transform: scale(1.2);
      background-color: $white-clr;
      box-shadow: 0 rem(8) rem(22) $light-blue, 0 rem(8) rem(22) $light-blue;
      border-radius: rem(4);

      @include breakpoint(0, $desktop-width) {
        transform: scale(1);
      }
    }

    @include breakpoint(0, $mobile-width) {
      @include action-css(hover) {
        background-color: $light-gray;
      }
      @include flex-center(column);
      text-align: center;
    }
  }

  &--icon {
    flex-shrink: 0;
    margin-right: rem(22);
    max-width: rem(53);

    @include breakpoint(0, $mobile-width) {
      @include advancedRem(margin, (0 0 20 0));
    }

    img {
      object-fit: contain;
      max-width: rem(82);
    }
  }

  &--title {
    @include font-size(18, 700);
  }

  &--info {
    @include font-size(14, 300);
    line-height: rem(21);
  }
}
