<div class="contact section wow fadeIn">
  <div class="container">
    <div class="contact-wrap">
      <div class="contact-left">
        <h1 class="section-title">Do with us!</h1>

        <div class="manager-avatar">
          <img class="img-responsive" src="img/manager.png" alt="">
        </div>
        <div class="manager-info">
          <div class="manager-name">Elena Blyman</div>
          <div class="manager-preview-text">Head of the Department of Education Abroad</div>
          <div class="manager-mail">e.bliman@iqconsultancy.ru</div>
        </div>
      </div>
      <div class="contact-right">
        <p class="contact-text">
          Leave a request or contact us by phone. IQ Consultancy experts will help
          you choose the right educational institution and program, issue documents and a visa,
          prepare for admission and training, and successfully enroll.
        </p>
        <form>
          <div class="row">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
              <input type="text" class="form-control" id="name" placeholder="Name">
              <input type="text" class="form-control" id="phone" placeholder="Phone">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
              <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
              <button class="btn contact-btn">To get a consultation <img src="img/right-arrow-white.png" alt=""></button>
            </div>
            <div class="col-xs-12 col-md-11 col-md-offset-1">
              <div class="contact-link">By clicking on the button, you consent to the processing of your personal data. We guarantee <a href="">confidentiality .</a></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
