<div class="page-cover" style="background-image:url('img/cover.jpg')">
  <div class="container">
    <div class="cover-items">
      <h1 class="page-title wow fadeInDown">About</h1>
      <ol class="breadcrumb wow fadeInUp">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
      <p class="cover-info wow fadeIn"></p>
    </div>
  </div>
</div>
