<header>
  <div class="container">
    <div class="header-wrap">
      <a href="index.html" class="logo">
        <img class="img-responsive" src="img/logo.png" alt="">
      </a>
      <div class="header-right">
        <ul class="header-menu">
          <li class="dropdown"><a>Proqramlar</a></li>
          <li><a href="">Xidmətlər</a></li>
          <li><a href="">Rəylər</a></li>
          <li><a href="">Tədbirlər</a></li>
          <li><a href="">Dil kursları</a></li>
          <li><a href="/reserve/">Görüş təyin et</a></li>
        </ul>

        <button data-toggle="modal" data-target="#myModal" class="contact-btn">Müraciət et</button>
        <button type="button" class="mobile-menu-btn">
          <img class="menu-img" src="img/menu.png" alt="">
          <img class="close-img" src="img/close.png" alt="">
        </button>

        <ul class="header-menu-mobile">
          <li class="dropdown">
            <a>Proqramlar<span class="caret"></span></a>
          </li>
          <li><a href="">Xidmetler</a></li>
          <li><a href="">Reyler</a></li>
          <li><a href="">Tedbirler</a></li>
          <li><a href="news.html">Yenilikler</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="programs-menu">
    <div class="container">
      <div class="programs-menu-wrap">
        <div class="countries">
          <h2>Countries</h2>
          <ul class="countries-items">
            {{#times 7}}
              <li>
                <a href="">
                  <span class="country-flag">
                    <img src="img/australia.svg" alt="">
                  </span>
                  <span class="country-title">Australia</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="country-flag">
                    <img src="img/austria.svg" alt="">
                  </span>
                  <span class="country-title">Austria</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="country-flag">
                    <img src="img/belgium.svg" alt="">
                  </span>
                  <span class="country-title">Belgium</span>
                </a>
              </li>
            {{/times}}
          </ul>
        </div>
        <div class="programs">
          <h2>Programs</h2>
          <ul class="programs-items">
            <li>
              <a href="language-program.html">Language Programs <img src="img/right-arrow.png" alt=""></a>
            </li>
            <li>
              <a href="secondary-education.html">Secondary education <img src="img/right-arrow.png" alt=""></a>
            </li>
            <li>
              <a href="higher-education.html">Higher education <img src="img/right-arrow.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="btn-wrap">
          <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close">
            <img src="img/close.png" alt="">
          </button>
        </div>
        <div class="content-wrap">
          <h1 class="title">Нужна консультация?</h1>

          <form>
            <input type="text" class="form-control" id="name" placeholder="Name">
            <input type="text" class="form-control" id="phone" placeholder="Phone">
            <input type="email" class="form-control" id="email" placeholder="Email">
            <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
            <button data-dismiss="modal" class="btn contact-btn">To get a consultation <img src="img/right-arrow-white.png" alt=""></button>
          </form>

          <small>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных. Гарантируем <a href="">конфиденциальность</a>.</small>
        </div>
      </div>
    </div>
  </div>
</div>
