<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}

    <section id="about_pg">
        <div class="container">
            {{> common/video}}


            <article id="content">
                <h4 class="title">About</h4>

                <p>
                    We, Azerbaijani’s leading educational counseling agency, were founded in 2008. Since 2008, we’ve had
                    more than 5.000 students whom we place at the universities (foundation, undergraduate and graduate),
                    language schools, high schools and colleges. Our students studied in various countries such as
                    United States of America, Canada, United Kingdom, Australia, Malta, New Zealand, Spain, Italy,
                    Germany, Holland, Switzerland, China and France.
                    <br><br>
                    We’re running educational fairs in Azerbaijan, Ukraine and Georgia 2 times in a year.
                    <br><br>
                    We’re the founder of the future of education counseling service, Azeri Student, which is the most
                    unique educational web site (www.azeristudent.az)
                    <br><br>
                    We’ve opened our 3rd office. Now, Azeri Student has offices not only in Baku, but also in Ukraine
                    and Georgia.
                    <br><br>
                    We’ve been working with prestigious institutions all around the world such as St. Andrews
                    University, Brunel University London, Reading University, Lancaster University, Leicester
                    University, Aberdeen University, Robert Gordon University, University of Surrey, Anglia Ruskin
                    University, Royal Holloway University London, Exeter University, Aberystwyth University, Glion
                    London, Les Roches institute of Hotel Management , EU business school, Glasgow University, Cambridge
                    Education Group, Study Group, Navitas, Shorelight group universities … and more!
                    <br><br>
                    We’ve had our own language schools in Azerbaijan and Educational Magazine.
                    <br><br>
                    If you want to be a part of first Europe’s, then World’s upcoming leading counseling agency, please
                    contact with us!
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <span>Skype:</span>
                                <a href="https://www.skype.com/en/">Azeri Student</a>
                            </li>

                            <li>
                                <span>Email:</span>
                                <a href="mailto: info@azeristudent.az">info@azeristudent.az</a>
                            </li>

                            <li>
                                Sincerely Yours,
                            </li>

                            <li>
                                CEO <br> Rasim Allahverdiyev
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><span>Azeri Student Education Counseling Services</span></li>

                            <li><a href="tel:+994505122828">+994 50 512 28 28</a></li>

                            <li><a href="tel:+994505122828">+994 50 512 28 28</a></li>
                            
                            <li><a href="tel:+994505122828">+994 50 512 28 28</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </section>

    {{> common/footer }}

</body>

</html>