<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}

    <section id="contact_pg">
        <div class="container">
            {{> common/video}}

            <div class="row mb-5">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h5>Feel free to call us or email.</h5>

                    <ul>
                        <li><a href="tel: +994505122828">(+994 50) 512 28 28</a></li>
                        <li><a href="tel: +994502917991">(+994 50) 291 79 91</a></li>
                        <li><a href="tel: +994124886678">(+994 12) 488 66 78</a></li>
                        <li><a href="mailto: info@azeristudent.az">info@azeristudent.az</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Our Address</h5>

                    <ul>
                        <li>
                            <a class="w-lg-50"
                                href="http://maps.google.com/?q=Azure Business Center 20 th floor,office 135, 15 Nobel Prospekti, Bakı 1025, Azerbaijan"
                                target="_blank">Nobel Avenue 15, Azure Business Center 20th floor office 135, AZ1025
                                Baku, Azerbaijan
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {{> common/footer }}

</body>

</html>