<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}

    <section id="homepage">
        <div class="container">
            {{> common/video}}

            <article id="vector_n_text">
                {{!-- AZERI STUDENT --}}
                <div class="row">
                    <div class="col-md-6 imageHolder">
                        <img src="../assets/azeristudent.svg" class="img-fluid">
                    </div>
                    <div class="col-md-6 textHolder">
                        <h5 class="azeristudent">Azeri Student</h5>

                        <p>
                            We, Azerbaijani’s leading educational counseling agency, were founded in 2008. Since 2008,
                            we’ve had more than 5.000 students whom we place at the universities
                            (foundation,undergraduate and graduate), language schools,high schools and colleges. Our
                            students studied in various countries such as United States of America, Canada, United
                            Kingdom, Australia, Malta, New Zealand, Spain, Italy, Germany, Holland, Switzerland, China
                            and France.
                        </p>
                    </div>
                </div>

                {{!-- WHAT WE DO --}}
                <div class="row">
                    <div class="col-md-6 order-2 order-md-1 textHolder">
                        <h5 class="whatwedo">What we do</h5>

                        <p>
                            Our managers have been working in this industry more than 3-5 years and most of them are
                            British Council accredited agents (check) . We have a good network of partners from the main
                            study destinations, however we are always open to new partnerships and cooperation. If your
                            educational institution is ready for beneficial cooperation we would love to hear from you!
                        </p>
                    </div>

                    <div class="col-md-6 imageHolder order-1 order-md-2">
                        <img src="../assets/whatwedo.svg" class="img-fluid">
                    </div>
                </div>

                {{!-- OUR PROGRAMS --}}
                <div class="row">
                    <div class="col-md-6 imageHolder">
                        <img src="../assets/programs.svg" class="img-fluid">
                    </div>
                    <div class="col-md-6 textHolder">
                        <h5 class="ourprograms">Our Programs</h5>

                        <ul>
                            <li>
                                Language courses ( English, German, French, Spanish
                                and other languages ) in the best language
                            </li>

                            <li>
                                Language courses for children in USA, Canada and Europe, where education is combined with sport
                            </li>

                            <li>
                                Boarding and Day schools abroad
                            </li>

                            <li>
                                Postgraduate and MBA programme abroad
                            </li>

                            <li>Premaster</li>

                            <li>Bachelor</li>

                            <li>PHD</li>
                        </ul>
                    </div>
                </div>

                {{!-- OUR EDUCATION EVENTS --}}
                <div class="row">
                    <div class="col-md-6 order-2 order-md-1 textHolder">
                        <h5 class="education">Our Education events</h5>

                        <p>
                            We organise the biggest educational exhibitions in Azerbaijan, Ukraine and Georgia twice a year. Our events are attended by more than 30 partners who are normally kept busy over 4 days with more than 2000 visitors!
                        </p>
                    </div>

                    <div class="col-md-6 imageHolder order-1 order-md-2">
                        <img src="../assets/education.svg" class="img-fluid">
                    </div>
                </div>

                {{!-- OUR MARKETING --}}
                <div class="row">
                    <div class="col-md-6 imageHolder">
                        <img src="../assets/marketing.svg" class="img-fluid">
                    </div>
                    <div class="col-md-6 textHolder">
                        <h5 class="marketing">Our marketing for you</h5>

                        <p>
                            We are marketingly active over the whole year. In addition to the exhibitions we prepare 150-page Catalogues “Azeri Student magazine” and “Student Study”. We also produce extra brochures and leaflets and distribute them in the universities, local banks, schools, sport centres and so on.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>

    {{> common/footer }}

</body>

</html>