{% extends 'partners/base/index.html' %}
{% load static %}
{% load partner_filter i18n %}
{% block meta_tags %}
    <meta name="keywords" content="{{ object.meta_keywords }}">
    <meta name="description" content="{{ object.meta_description }}">
{% endblock meta_tags %}
{% block social_headers %}
    <!-- Facebook share header -->
    <meta property="og:title" content="{{ object.facebook_social_title }}">
    <meta property="og:description" content="{{ object.facebook_social_description }}">
    {% if object.social_image %}
        <meta property="og:image"
              content="{{ request.build_absolute_uri|slice:":-1" }}{{ object.social_image.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <!--Twitter header-->
    <meta name="twitter:card" content="summary_large_image">
    {% if object.social_image %}
        <meta name="twitter:image"
              content="{{ request.build_absolute_uri|slice:":-1" }}{{ object.social_image.url }}">
    {% endif %}
    <meta name="twitter:image:alt" content="{{ object.twitter_social_image_alt }}">
    <meta name="twitter:creator" content="{{ object.twitter_social_creator }}"/>
    <meta name="twitter:site" content="{{ object.twitter_social_site }}">
{% endblock social_headers %}

{% block title %}
    <title>{{ object.website_title }}</title>
{% endblock title %}

{% block content %}
<div id="contact_section">
        <div class="title">
            {{ object.title }}
        </div>
        <div class="contact_section_back">
            <div class="container">
             <div class="contact">
                    <div class="contact-title">
                        <h3>
                         {% for content in object.homecontent_set.all %}
                           {% if forloop.counter == 1 %} {{ content.title }}{% endif %}
                         {% endfor %}
                        </h3>
                    </div>

                    <div class="row">
                      {% for content in object.homecontent_set.all %}
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-text">
                                <div class="contact-icon">
                                     {% if forloop.counter == 1 %}
                                        <i class="fas fa-map-marker-alt"></i>
                                         {% elif forloop.counter == 2 %}
                                         <img src="{% static 'partners/assets/email.png' %}" alt="">
                                         {% elif forloop.counter == 3 %}
                                         <img src="{% static 'partners/assets/telephone-1.png' %}" class="contact-img" alt="">
                                     {% endif %}
                                </div>
                                <p class="contact-about">
                                    {{ content.content|safe }}
                                </p>
                            </div>
                        </div>
                      {% endfor %}
{#                        <div class="col-lg-4 col-md-6">#}
{#                            <div class="contact-text">#}
{#                                <div class="contact-icon">#}
{#                                    <img src="{% static 'partners/assets/email.png' %}" alt="">#}
{#                                </div>#}
{#                                <p class="contact-about">#}
{#                                    info@azeristudent.az#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-4 col-md-6">#}
{#                            <div class="contact-text">#}
{#                                <div class="contact-icon">#}
{#                                    <img src="{% static 'partners/assets/telephone-1.png' %}" class="contact-img" alt="">#}
{#                                </div>#}
{#                                <p class="contact-about">#}
{#                                    (+994 50) 512 28 28 <br>#}
{#                                    (+994 50) 291 79 91 <br>#}
{#                                    (+994 12) 488 66 78</p>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
             </div>
            </div>
        </div>
    </div>
{% endblock content %}